<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/analitza-4.9.5.tar.xz">analitza-4.9.5</a></td>
   <td align="right">142kB</td>
   <td><tt>43f4305dee7332bb3844a892abc60e728d555e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ark-4.9.5.tar.xz">ark-4.9.5</a></td>
   <td align="right">232kB</td>
   <td><tt>71018a85d489af1e119d2454d9b4e3166f63455c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/audiocd-kio-4.9.5.tar.xz">audiocd-kio-4.9.5</a></td>
   <td align="right">55kB</td>
   <td><tt>9f95b372adb3bb63453fe2bd83b6442374f1eb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/blinken-4.9.5.tar.xz">blinken-4.9.5</a></td>
   <td align="right">553kB</td>
   <td><tt>b2edfac9f2187eeb359672adc23d79d7ac53c986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/cantor-4.9.5.tar.xz">cantor-4.9.5</a></td>
   <td align="right">267kB</td>
   <td><tt>6ad6ea449f2d75a1e324c2cb2099724ef01a25b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/dragon-4.9.5.tar.xz">dragon-4.9.5</a></td>
   <td align="right">385kB</td>
   <td><tt>cd1ea32aa85e82f0458d8813412d9118b4b4e3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ffmpegthumbs-4.9.5.tar.xz">ffmpegthumbs-4.9.5</a></td>
   <td align="right">20kB</td>
   <td><tt>a59f5d762461c79dccdbe15dc24eec3e7d9bf685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/filelight-4.9.5.tar.xz">filelight-4.9.5</a></td>
   <td align="right">288kB</td>
   <td><tt>e39fe967a1053a3c98130e7b2acd4b11c2e425e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/gwenview-4.9.5.tar.xz">gwenview-4.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>55f3392887401754922a6ae2eb932f633a597682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/jovie-4.9.5.tar.xz">jovie-4.9.5</a></td>
   <td align="right">360kB</td>
   <td><tt>5bcabfecaaad13ee14ef33832fb6df15703c2bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/juk-4.9.5.tar.xz">juk-4.9.5</a></td>
   <td align="right">435kB</td>
   <td><tt>bd9beb44556c2c5d90d365dc35619852b4f5f6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kaccessible-4.9.5.tar.xz">kaccessible-4.9.5</a></td>
   <td align="right">20kB</td>
   <td><tt>b4a7b69a9eec39d08c75097cb57fec4d22583a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kactivities-4.9.5.tar.xz">kactivities-4.9.5</a></td>
   <td align="right">86kB</td>
   <td><tt>b39833e52fba5f245aa2f2c220a8e6a3108a8ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kalgebra-4.9.5.tar.xz">kalgebra-4.9.5</a></td>
   <td align="right">432kB</td>
   <td><tt>0a0144cdab2db70e070d193080545a9a8c5e5e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kalzium-4.9.5.tar.xz">kalzium-4.9.5</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1adf6b51209a0a944d75653dd62cdddde645d370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kamera-4.9.5.tar.xz">kamera-4.9.5</a></td>
   <td align="right">36kB</td>
   <td><tt>9f967c27f1ebf331b83778e4ce87eb7966036c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kanagram-4.9.5.tar.xz">kanagram-4.9.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d20801f87c16f1fb7d8698ea9288c720f81bb60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kate-4.9.5.tar.xz">kate-4.9.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7b1f00228c9485318ab5bf8ac93bf9e1a78b53ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kbruch-4.9.5.tar.xz">kbruch-4.9.5</a></td>
   <td align="right">886kB</td>
   <td><tt>4af247030ea57e8f3eb2f0bc06e5aa786e7209f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kcalc-4.9.5.tar.xz">kcalc-4.9.5</a></td>
   <td align="right">86kB</td>
   <td><tt>256824be3df335549cec61c28c04e2661fe03006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kcharselect-4.9.5.tar.xz">kcharselect-4.9.5</a></td>
   <td align="right">84kB</td>
   <td><tt>8c2079c70a106c73e4aad7bb3d8dbd0b73a56ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kcolorchooser-4.9.5.tar.xz">kcolorchooser-4.9.5</a></td>
   <td align="right">4kB</td>
   <td><tt>3a499986e20db7caa5c6ba1750e1cb48b92822f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdeadmin-4.9.5.tar.xz">kdeadmin-4.9.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b67e2be133acd8e6de172480f562ef8f3bcf9f2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdeartwork-4.9.5.tar.xz">kdeartwork-4.9.5</a></td>
   <td align="right">132MB</td>
   <td><tt>9d9fa13d0cfad0a53237d04c959d11039df1af34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-baseapps-4.9.5.tar.xz">kde-baseapps-4.9.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>67d1c2c83570aac1d3c026cdecd82833e8d8b568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-base-artwork-4.9.5.tar.xz">kde-base-artwork-4.9.5</a></td>
   <td align="right">15MB</td>
   <td><tt>1c2f433925e59b1637ed85065894d7f24e84de07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdegames-4.9.5.tar.xz">kdegames-4.9.5</a></td>
   <td align="right">49MB</td>
   <td><tt>fffc38218cf81247fd19f700e6d42066eb9faa99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdegraphics-mobipocket-4.9.5.tar.xz">kdegraphics-mobipocket-4.9.5</a></td>
   <td align="right">19kB</td>
   <td><tt>8eacdb97d8b1f14a3e3907f8be67774ef9f6f545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdegraphics-strigi-analyzer-4.9.5.tar.xz">kdegraphics-strigi-analyzer-4.9.5</a></td>
   <td align="right">40kB</td>
   <td><tt>0f7d138af9487dee932f575b2d431453f21d5ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdegraphics-thumbnailers-4.9.5.tar.xz">kdegraphics-thumbnailers-4.9.5</a></td>
   <td align="right">40kB</td>
   <td><tt>56333f7363b6386050ac6f900cbd6ce1e1974ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdelibs-4.9.5.tar.xz">kdelibs-4.9.5</a></td>
   <td align="right">11MB</td>
   <td><tt>899a58c5cf2115a1a18fb1690c99b2b3815975c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdenetwork-4.9.5.tar.xz">kdenetwork-4.9.5</a></td>
   <td align="right">8.6MB</td>
   <td><tt>26a607742b83211575802781b287f6f7f1c3ebbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdepim-4.9.5.tar.xz">kdepim-4.9.5</a></td>
   <td align="right">13MB</td>
   <td><tt>a0d824dbb132cad8178767cfd881da2979ab399d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdepimlibs-4.9.5.tar.xz">kdepimlibs-4.9.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>f3030a41647b0139342b99ae01e5c6f7f1fc1031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdepim-runtime-4.9.5.tar.xz">kdepim-runtime-4.9.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1eeb480d088d93d56d7ce8f7ef939150e126c001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdeplasma-addons-4.9.5.tar.xz">kdeplasma-addons-4.9.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cb57f5dbb68c76591457db213844f6cff3ad407e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-runtime-4.9.5.tar.xz">kde-runtime-4.9.5</a></td>
   <td align="right">6.1MB</td>
   <td><tt>6e2abeb8cc2d40d248dfabd49da264ac375fe6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdesdk-4.9.5.tar.xz">kdesdk-4.9.5</a></td>
   <td align="right">4.9MB</td>
   <td><tt>8c4e00e455f9dd32504f972fad41cce4c7dccbf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdetoys-4.9.5.tar.xz">kdetoys-4.9.5</a></td>
   <td align="right">377kB</td>
   <td><tt>4234c4b93094d4ad287a6e79fcffa7c077e6cf49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-wallpapers-4.9.5.tar.xz">kde-wallpapers-4.9.5</a></td>
   <td align="right">73MB</td>
   <td><tt>dafe6361bd4a45da318dca9d69f36bd568133878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdewebdev-4.9.5.tar.xz">kdewebdev-4.9.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f021cff63f2e3f724262116343c6ad4bf59e03e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-workspace-4.9.5.tar.xz">kde-workspace-4.9.5</a></td>
   <td align="right">21MB</td>
   <td><tt>20cfefd98a8dddef963b86ff0c7b832a464593fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kdf-4.9.5.tar.xz">kdf-4.9.5</a></td>
   <td align="right">153kB</td>
   <td><tt>b3b7315443b2dac49ca30dfce0800007d83ae950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kfloppy-4.9.5.tar.xz">kfloppy-4.9.5</a></td>
   <td align="right">60kB</td>
   <td><tt>efe8b1d947dad51ea0b56f6ad418fdee5fabb0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kgamma-4.9.5.tar.xz">kgamma-4.9.5</a></td>
   <td align="right">26kB</td>
   <td><tt>fe624ecf7bc001ff26893e9d4b86d5c85c483027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kgeography-4.9.5.tar.xz">kgeography-4.9.5</a></td>
   <td align="right">6.4MB</td>
   <td><tt>6f723cc5cc62ed8865175fd038fa5a67a4bf6005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kgpg-4.9.5.tar.xz">kgpg-4.9.5</a></td>
   <td align="right">795kB</td>
   <td><tt>70794d478a4b70b2e1597f86dbe1b1100f232738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/khangman-4.9.5.tar.xz">khangman-4.9.5</a></td>
   <td align="right">3.6MB</td>
   <td><tt>d173d3b35d7a01327bb13833c325b82c915917fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kig-4.9.5.tar.xz">kig-4.9.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>48525b1385f9f1ea7c0fe224e7075d47fb371f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kimono-4.9.5.tar.xz">kimono-4.9.5</a></td>
   <td align="right">935kB</td>
   <td><tt>f8c916e8d1a0c1138addca40520465821350ec92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kiten-4.9.5.tar.xz">kiten-4.9.5</a></td>
   <td align="right">11MB</td>
   <td><tt>a8ecb32e9d8d2df828c5e0a4eaea0fe1c8b9cd9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/klettres-4.9.5.tar.xz">klettres-4.9.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>505a13d630ddcea52d532851a7781e8f03fe2a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kmag-4.9.5.tar.xz">kmag-4.9.5</a></td>
   <td align="right">90kB</td>
   <td><tt>cc13736e9131990d898a79b6a17730a284acd36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kmix-4.9.5.tar.xz">kmix-4.9.5</a></td>
   <td align="right">298kB</td>
   <td><tt>707f4dc77ceded7c99d98d35f4ca73bad594f2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kmousetool-4.9.5.tar.xz">kmousetool-4.9.5</a></td>
   <td align="right">42kB</td>
   <td><tt>86767dbd8b78dcdbf105cfd7d09f06dfeebb099d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kmouth-4.9.5.tar.xz">kmouth-4.9.5</a></td>
   <td align="right">313kB</td>
   <td><tt>708eaed0b76a6428ce5ba29835ac3e515148bea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kmplot-4.9.5.tar.xz">kmplot-4.9.5</a></td>
   <td align="right">664kB</td>
   <td><tt>a5a1eca92677783892013c9712a7a8eb08f7a70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kolourpaint-4.9.5.tar.xz">kolourpaint-4.9.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c24bee251499d456ea8a4680ee812ce7ed2eed7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/konsole-4.9.5.tar.xz">konsole-4.9.5</a></td>
   <td align="right">432kB</td>
   <td><tt>a2b3438f12b615d877941068ba8f7e63890fb762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/korundum-4.9.5.tar.xz">korundum-4.9.5</a></td>
   <td align="right">161kB</td>
   <td><tt>e8a31c1db3110d269fcbd3e32d3d409fd20e9f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kremotecontrol-4.9.5.tar.xz">kremotecontrol-4.9.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6aefce837f4325198e51b55385884b430217be31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kross-interpreters-4.9.5.tar.xz">kross-interpreters-4.9.5</a></td>
   <td align="right">130kB</td>
   <td><tt>7828895c9a44abcffd3e7c34f2215bbf962dfea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kruler-4.9.5.tar.xz">kruler-4.9.5</a></td>
   <td align="right">130kB</td>
   <td><tt>25b52513a49738e6b9a03542e2b1914a6eb764b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ksaneplugin-4.9.5.tar.xz">ksaneplugin-4.9.5</a></td>
   <td align="right">13kB</td>
   <td><tt>82783cc94ddebaa9e76fa6c97a47537df8345fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kscd-4.9.5.tar.xz">kscd-4.9.5</a></td>
   <td align="right">93kB</td>
   <td><tt>5de57f0b6778379bcb1a95ff6e53572de38d2419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ksnapshot-4.9.5.tar.xz">ksnapshot-4.9.5</a></td>
   <td align="right">258kB</td>
   <td><tt>6bc5fc1f0ae470dcb8ec03998cc9e224ec6664fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kstars-4.9.5.tar.xz">kstars-4.9.5</a></td>
   <td align="right">11MB</td>
   <td><tt>4d51e39fc8abd353cd28d3156b18737716e28c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ktimer-4.9.5.tar.xz">ktimer-4.9.5</a></td>
   <td align="right">147kB</td>
   <td><tt>23ed94890d1a138e409aa10660b6232c9fc50ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/ktouch-4.9.5.tar.xz">ktouch-4.9.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>87ed6db18bf33c05d94db6909410eff0bf034783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kturtle-4.9.5.tar.xz">kturtle-4.9.5</a></td>
   <td align="right">210kB</td>
   <td><tt>2e1235ebacbf1dff5dc592eb97a8e3c84143ad7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kwallet-4.9.5.tar.xz">kwallet-4.9.5</a></td>
   <td align="right">275kB</td>
   <td><tt>c7c85b44af4e1868f29369db760914db89bbee2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kwordquiz-4.9.5.tar.xz">kwordquiz-4.9.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>322473f7d1e92ec57c5af2c54eaa9688b520dfd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkcddb-4.9.5.tar.xz">libkcddb-4.9.5</a></td>
   <td align="right">155kB</td>
   <td><tt>aa1094dc21e789d6e573fffc08d21d14cab8fa05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkcompactdisc-4.9.5.tar.xz">libkcompactdisc-4.9.5</a></td>
   <td align="right">75kB</td>
   <td><tt>a6d88785485aabdcb96c9a263bf7da9130e23d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkdcraw-4.9.5.tar.xz">libkdcraw-4.9.5</a></td>
   <td align="right">264kB</td>
   <td><tt>baaafbb1a2da84e4180482c3628727c1b5b16cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkdeedu-4.9.5.tar.xz">libkdeedu-4.9.5</a></td>
   <td align="right">208kB</td>
   <td><tt>c488ca82b10acc26fa44b0f8f52abd7cdd1e4f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkexiv2-4.9.5.tar.xz">libkexiv2-4.9.5</a></td>
   <td align="right">131kB</td>
   <td><tt>54f30de47f12101b4e6ebd74f5d8e6052e694461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libkipi-4.9.5.tar.xz">libkipi-4.9.5</a></td>
   <td align="right">74kB</td>
   <td><tt>f38ffdff11abf3aadfa92394ee8816051738f924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/libksane-4.9.5.tar.xz">libksane-4.9.5</a></td>
   <td align="right">80kB</td>
   <td><tt>feec52661f536b56ad14dfc628b90facd39d05ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/marble-4.9.5.tar.xz">marble-4.9.5</a></td>
   <td align="right">19MB</td>
   <td><tt>75cf56d9c3c88ef3f7d27f0d4891964372ba467f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/mplayerthumbs-4.9.5.tar.xz">mplayerthumbs-4.9.5</a></td>
   <td align="right">27kB</td>
   <td><tt>bdbb2c0f0bd8b5fcf08f4f772fce6a3f40b24191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/nepomuk-core-4.9.5.tar.xz">nepomuk-core-4.9.5</a></td>
   <td align="right">382kB</td>
   <td><tt>082626d17f4759df079a688406e9b96167f0ef15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/okular-4.9.5.tar.xz">okular-4.9.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1e06acd55f177c118321163b69abb8e52ebff0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/oxygen-icons-4.9.5.tar.xz">oxygen-icons-4.9.5</a></td>
   <td align="right">276MB</td>
   <td><tt>710b37bc3571ece2e7713d8a33f3e2945cbb3fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/pairs-4.9.5.tar.xz">pairs-4.9.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f5b9b0e81e6ef4cf9772f25fac654715a8c36add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/parley-4.9.5.tar.xz">parley-4.9.5</a></td>
   <td align="right">7.8MB</td>
   <td><tt>27fc92f946932f5c7037d0b221d76158a3121623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/perlkde-4.9.5.tar.xz">perlkde-4.9.5</a></td>
   <td align="right">43kB</td>
   <td><tt>5e0a4e9b547b4e8ff2118c543a8cff946d1f01eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/perlqt-4.9.5.tar.xz">perlqt-4.9.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>225cae44640b66f6294333026c78826e2350a7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/printer-applet-4.9.5.tar.xz">printer-applet-4.9.5</a></td>
   <td align="right">35kB</td>
   <td><tt>609eb81004d258667e99ccb035d8dd2ad58901b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/pykde4-4.9.5.tar.xz">pykde4-4.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8a0cf08aa4747df05edae833139e5eea739adf45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/qtruby-4.9.5.tar.xz">qtruby-4.9.5</a></td>
   <td align="right">528kB</td>
   <td><tt>442fff6a343103fd98dae1097e702901c5884e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/qyoto-4.9.5.tar.xz">qyoto-4.9.5</a></td>
   <td align="right">515kB</td>
   <td><tt>2acae493326a8a805fc91620984737aea8d31d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/rocs-4.9.5.tar.xz">rocs-4.9.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ef63aea2c93a3def43201e6fff768bc6730edef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/smokegen-4.9.5.tar.xz">smokegen-4.9.5</a></td>
   <td align="right">146kB</td>
   <td><tt>a9ac753f2297329775291c3f7720eb50ef83749b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/smokekde-4.9.5.tar.xz">smokekde-4.9.5</a></td>
   <td align="right">38kB</td>
   <td><tt>b2574e50b205e164e9e3672f6d28b264f30b7a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/smokeqt-4.9.5.tar.xz">smokeqt-4.9.5</a></td>
   <td align="right">32kB</td>
   <td><tt>a99f0b15f6e08a13e3018e4379837bdafe6ebd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/step-4.9.5.tar.xz">step-4.9.5</a></td>
   <td align="right">367kB</td>
   <td><tt>b35f2d330d8eb12ecb419e948591b6ad66f97302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/superkaramba-4.9.5.tar.xz">superkaramba-4.9.5</a></td>
   <td align="right">380kB</td>
   <td><tt>e4dd2452f95603009d73068c2362fa26c1959b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/svgpart-4.9.5.tar.xz">svgpart-4.9.5</a></td>
   <td align="right">8kB</td>
   <td><tt>665f9faacc8bf3cbf6af3d88e66997cb99c4770f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/sweeper-4.9.5.tar.xz">sweeper-4.9.5</a></td>
   <td align="right">82kB</td>
   <td><tt>3942cda2498bc7dce9ba694cdc81b90329bc3c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ar-4.9.5.tar.xz">kde-l10n-ar-4.9.5</a></td>
   <td align="right">3.1MB</td>
   <td><tt>44ab0c7781a2bfd495a411225dbf1214ca28a773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-bg-4.9.5.tar.xz">kde-l10n-bg-4.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f97d58fffdf144fa75d92ffe2f1d7a46a0f820ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-bs-4.9.5.tar.xz">kde-l10n-bs-4.9.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0b09c120ae154f0aa92bff6ad193f3bdbfd35162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ca-4.9.5.tar.xz">kde-l10n-ca-4.9.5</a></td>
   <td align="right">11MB</td>
   <td><tt>e32cb466d0fbe5110322692b79ec29cf800fc6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ca@valencia-4.9.5.tar.xz">kde-l10n-ca@valencia-4.9.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c175be9980fce45eef56a53f440d874857d5c8be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-cs-4.9.5.tar.xz">kde-l10n-cs-4.9.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d6b3de229df3f91dfa98f56fb8242ec2c4646eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-da-4.9.5.tar.xz">kde-l10n-da-4.9.5</a></td>
   <td align="right">12MB</td>
   <td><tt>5a60fad712ae9b969d48ba3d367fb1089acc0b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-de-4.9.5.tar.xz">kde-l10n-de-4.9.5</a></td>
   <td align="right">36MB</td>
   <td><tt>61629af2edfa0c1edb3a42fc8894e393278a7d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-el-4.9.5.tar.xz">kde-l10n-el-4.9.5</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9ed20c6553b26081ce457b504d77b828a61ce9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-en_GB-4.9.5.tar.xz">kde-l10n-en_GB-4.9.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>60cc3df228132d17d86df97392be2d4d2a7a307d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-es-4.9.5.tar.xz">kde-l10n-es-4.9.5</a></td>
   <td align="right">22MB</td>
   <td><tt>85396e77daec35197dfb67b4abe6314299063505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-et-4.9.5.tar.xz">kde-l10n-et-4.9.5</a></td>
   <td align="right">7.0MB</td>
   <td><tt>3a54b4aaabf38ff2e4313cf4bc2167791d443140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-eu-4.9.5.tar.xz">kde-l10n-eu-4.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bf38ac3f043c873d2bb1ad629689fea86ac3225e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-fa-4.9.5.tar.xz">kde-l10n-fa-4.9.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a5133914e23e6123c2ccd87f6e5561c66fee245b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-fi-4.9.5.tar.xz">kde-l10n-fi-4.9.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>974f10113f5bf754d553f71b426fa0d9ad40ec4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-fr-4.9.5.tar.xz">kde-l10n-fr-4.9.5</a></td>
   <td align="right">42MB</td>
   <td><tt>ceb0b1a3b05e12f5c9c86e2e59ca3620abbc1298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ga-4.9.5.tar.xz">kde-l10n-ga-4.9.5</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a13c6afccc4e331dc5d2e5416745dec242f8cb86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-gl-4.9.5.tar.xz">kde-l10n-gl-4.9.5</a></td>
   <td align="right">4.1MB</td>
   <td><tt>35c78afb2af5ef2c4e115b034b1a71cf315f6ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-he-4.9.5.tar.xz">kde-l10n-he-4.9.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3658cedd9fcfe2d934753e57403f3d5327fc37b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-hi-4.9.5.tar.xz">kde-l10n-hi-4.9.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>88bc245f5a5c88a5c768cb90ad007dab4aedc9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-hr-4.9.5.tar.xz">kde-l10n-hr-4.9.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>df799c6ce35ed4ca0a8291e2d0e97eed7eddc26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-hu-4.9.5.tar.xz">kde-l10n-hu-4.9.5</a></td>
   <td align="right">3.9MB</td>
   <td><tt>835a2b23075477e01e9cdcc31636b604f38bba2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ia-4.9.5.tar.xz">kde-l10n-ia-4.9.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b0afae60725ef555997efe111cb51a6a36501582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-is-4.9.5.tar.xz">kde-l10n-is-4.9.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>363b89a6b4c2e49e768c5ad42672b94731c30b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-it-4.9.5.tar.xz">kde-l10n-it-4.9.5</a></td>
   <td align="right">10MB</td>
   <td><tt>4251133f96e773cff0626ed608854670abef3ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ja-4.9.5.tar.xz">kde-l10n-ja-4.9.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a90dd6bfc202bc1c976f6c9e9d9d96a628554006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-kk-4.9.5.tar.xz">kde-l10n-kk-4.9.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>346aabcdc162b77e4cf435f7067fd15243369ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-km-4.9.5.tar.xz">kde-l10n-km-4.9.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d3576da09e9f9ba86464aa729329413e3ed04cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ko-4.9.5.tar.xz">kde-l10n-ko-4.9.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3585b580778179633b93371965da98da94a47869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-lt-4.9.5.tar.xz">kde-l10n-lt-4.9.5</a></td>
   <td align="right">10MB</td>
   <td><tt>1e54a2f1c744ecc8608882df63a62315ba9fff49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-lv-4.9.5.tar.xz">kde-l10n-lv-4.9.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ab1e5ca519771505daf0daf8fdb65095a0335001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-nb-4.9.5.tar.xz">kde-l10n-nb-4.9.5</a></td>
   <td align="right">2.3MB</td>
   <td><tt>005af5ffc2e0ecd1b7e9f63f1edc42c4238d1daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-nds-4.9.5.tar.xz">kde-l10n-nds-4.9.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>574a34fce728cb5198937a5381a79d6a013ee912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-nl-4.9.5.tar.xz">kde-l10n-nl-4.9.5</a></td>
   <td align="right">15MB</td>
   <td><tt>57447db208600afc6b58a8d7d0697d26ccdd2b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-nn-4.9.5.tar.xz">kde-l10n-nn-4.9.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aa716ce68c14cf212dd2badfc21ea1daa85b59b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-pa-4.9.5.tar.xz">kde-l10n-pa-4.9.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d4a278c45a86ae4b88fcef1fb0f2d07eb786b613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-pl-4.9.5.tar.xz">kde-l10n-pl-4.9.5</a></td>
   <td align="right">16MB</td>
   <td><tt>868b064966eb8aa9ef6633f5117dbac4c955d832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-pt-4.9.5.tar.xz">kde-l10n-pt-4.9.5</a></td>
   <td align="right">5.4MB</td>
   <td><tt>de5d1ae5b096543f3f9b5c8496325c85e550b62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-pt_BR-4.9.5.tar.xz">kde-l10n-pt_BR-4.9.5</a></td>
   <td align="right">26MB</td>
   <td><tt>5a9e27495b2948895f31f8e0ff901785befe03c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ro-4.9.5.tar.xz">kde-l10n-ro-4.9.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>38a6ca60370966039555ef7c9823bf7ab7c61888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ru-4.9.5.tar.xz">kde-l10n-ru-4.9.5</a></td>
   <td align="right">22MB</td>
   <td><tt>64119172672ae8320b168a736d044cb76f3bcce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-si-4.9.5.tar.xz">kde-l10n-si-4.9.5</a></td>
   <td align="right">1019kB</td>
   <td><tt>31c24734e850d85986115497931368c54bb29eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-sk-4.9.5.tar.xz">kde-l10n-sk-4.9.5</a></td>
   <td align="right">4.1MB</td>
   <td><tt>d313b9d839f0e316b0f75f2affc8b26a139d52be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-sl-4.9.5.tar.xz">kde-l10n-sl-4.9.5</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2f5cd76479f10b165653af3476c83d48d091cd57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-sr-4.9.5.tar.xz">kde-l10n-sr-4.9.5</a></td>
   <td align="right">5.2MB</td>
   <td><tt>82a02d0c93fc5714f91b788be952c87edae70fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-sv-4.9.5.tar.xz">kde-l10n-sv-4.9.5</a></td>
   <td align="right">15MB</td>
   <td><tt>1cb0de295e7c72becbc60285487286490e2a3443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-tg-4.9.5.tar.xz">kde-l10n-tg-4.9.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>eeb2effcaa1840f33f3712ff0cb49d4885eef9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-th-4.9.5.tar.xz">kde-l10n-th-4.9.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e8fa03abc52bd1e00fc2cdf59ada175b12ed982a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-tr-4.9.5.tar.xz">kde-l10n-tr-4.9.5</a></td>
   <td align="right">3.8MB</td>
   <td><tt>1921635d93242e14ead92ca57121ecad9c16c230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-ug-4.9.5.tar.xz">kde-l10n-ug-4.9.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>04a998c0206f091e700542d45b1871e35325df2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-uk-4.9.5.tar.xz">kde-l10n-uk-4.9.5</a></td>
   <td align="right">23MB</td>
   <td><tt>efa52f22c6ab8a5a627ed096742f4223b43403ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-vi-4.9.5.tar.xz">kde-l10n-vi-4.9.5</a></td>
   <td align="right">901kB</td>
   <td><tt>093eb0d3010742b698ba58dee07644097537e9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-wa-4.9.5.tar.xz">kde-l10n-wa-4.9.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>be8ec264234cdfd0bc2f011f511d0215f81287c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-zh_CN-4.9.5.tar.xz">kde-l10n-zh_CN-4.9.5</a></td>
   <td align="right">3.3MB</td>
   <td><tt>44ff5cb3c8f715eb77aeb1211ad09af735e3daae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.5/src/kde-l10n/kde-l10n-zh_TW-4.9.5.tar.xz">kde-l10n-zh_TW-4.9.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5184ee6e2f32a877023b591d394de68eb9d39a9a</tt></td>
</tr>

</table>
