
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.1/kwindowsystem-5.3.1.tar.xz">kwindowsystem-5.3.1</a></td>
   <td align="right">154kB</td>
   <td><tt>43af922fa02775bbff108f2bf74c996534e12113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.1/plasma-framework-5.3.1.tar.xz">plasma-framework-5.3.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>2ee300546245a76e589aa03710569ffbdea76f3f</tt></td>
</tr>

</table>
