<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/akonadi-15.08.0.tar.xz">akonadi-15.08.0</a></td>
   <td align="right">272kB</td>
   <td><tt>06dec25cee0151766fe5aa3628aeae2396ed0268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/akonadi-calendar-15.08.0.tar.xz">akonadi-calendar-15.08.0</a></td>
   <td align="right">112kB</td>
   <td><tt>bc62bbf8c28e4c4a8f2f2e99c6d3239712d86d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/akonadi-search-15.08.0.tar.xz">akonadi-search-15.08.0</a></td>
   <td align="right">59kB</td>
   <td><tt>e8c521cb5fc2cca740f719f03b462508762af388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/amor-15.08.0.tar.xz">amor-15.08.0</a></td>
   <td align="right">171kB</td>
   <td><tt>5a5ed3616bad20bcb2cc5f7832de90c5e346edc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/analitza-15.08.0.tar.xz">analitza-15.08.0</a></td>
   <td align="right">222kB</td>
   <td><tt>ab54ee2f8c5c0c3214dfe5c6522efc91d6cecd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ark-15.08.0.tar.xz">ark-15.08.0</a></td>
   <td align="right">217kB</td>
   <td><tt>b202eceb6d7474c865e12fc3120bb5fb8f448f20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/artikulate-15.08.0.tar.xz">artikulate-15.08.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>63db1c040d70624063ef9e6a1d441f5c056eef33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/audiocd-kio-15.08.0.tar.xz">audiocd-kio-15.08.0</a></td>
   <td align="right">50kB</td>
   <td><tt>0af3db674fccf33f14eb83b8f9fd6896bcb73738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/baloo-widgets-15.08.0.tar.xz">baloo-widgets-15.08.0</a></td>
   <td align="right">55kB</td>
   <td><tt>268cbd1752f236c818aafd2d250b2fd7b984d1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/blinken-15.08.0.tar.xz">blinken-15.08.0</a></td>
   <td align="right">553kB</td>
   <td><tt>c89cc33813a3094c041a415ffa1ea3d135980ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/bomber-15.08.0.tar.xz">bomber-15.08.0</a></td>
   <td align="right">384kB</td>
   <td><tt>6729eb29c22ec34a0fa67a924bd0dfda8ac0d648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/bovo-15.08.0.tar.xz">bovo-15.08.0</a></td>
   <td align="right">102kB</td>
   <td><tt>e4cbbfead1cf9733597c9bdd044f309c9484c32e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/cantor-15.08.0.tar.xz">cantor-15.08.0</a></td>
   <td align="right">348kB</td>
   <td><tt>1c38a1ec023a3b1f550c7f0a8d3a6d884c916e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/cervisia-15.08.0.tar.xz">cervisia-15.08.0</a></td>
   <td align="right">364kB</td>
   <td><tt>962d67d9ed8ebf1143f112743e600e925435f357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/dolphin-15.08.0.tar.xz">dolphin-15.08.0</a></td>
   <td align="right">641kB</td>
   <td><tt>9bf5294a6124f42c37d6fba7752dbeb7121ebe4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/dolphin-plugins-15.08.0.tar.xz">dolphin-plugins-15.08.0</a></td>
   <td align="right">57kB</td>
   <td><tt>a7c35956a17b937ea9fbed6c53af547148355dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/dragon-15.08.0.tar.xz">dragon-15.08.0</a></td>
   <td align="right">393kB</td>
   <td><tt>7b0b4502b975a5c1584989de3ce589152ff8ddff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ffmpegthumbs-15.08.0.tar.xz">ffmpegthumbs-15.08.0</a></td>
   <td align="right">19kB</td>
   <td><tt>0a61ca81d81d8f8a389ffe5e8eebacddac60dce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/filelight-15.08.0.tar.xz">filelight-15.08.0</a></td>
   <td align="right">280kB</td>
   <td><tt>f4069da55549ffc68283c64cefe255864169bb37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/gpgmepp-15.08.0.tar.xz">gpgmepp-15.08.0</a></td>
   <td align="right">65kB</td>
   <td><tt>20a3b016458ec1f09bdc064b2135407384ba7049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/granatier-15.08.0.tar.xz">granatier-15.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>754ad670d6b278d671a65bbf773b4b08840583e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/gwenview-15.08.0.tar.xz">gwenview-15.08.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5cc093e2580e7e1c88de7774e7674c2f1b73669d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/jovie-15.08.0.tar.xz">jovie-15.08.0</a></td>
   <td align="right">383kB</td>
   <td><tt>06a032ff6e8966acedbe4af4b6d7ef30fa6a66f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/juk-15.08.0.tar.xz">juk-15.08.0</a></td>
   <td align="right">434kB</td>
   <td><tt>e23d3b75973b4a1c87cf5d3f0865586dd5e596e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kaccessible-15.08.0.tar.xz">kaccessible-15.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>a4c2f452f8dd239baead4b28a186287b08bad640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kaccounts-integration-15.08.0.tar.xz">kaccounts-integration-15.08.0</a></td>
   <td align="right">58kB</td>
   <td><tt>4c98e3df6d6a61f3a5706a910f6aa9b3f57f3c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kaccounts-providers-15.08.0.tar.xz">kaccounts-providers-15.08.0</a></td>
   <td align="right">11kB</td>
   <td><tt>4c97570cc83d1e55dd67e4b8d6bb92bf5ace1ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kajongg-15.08.0.tar.xz">kajongg-15.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e20a6872a511d918b171facb1fce67454db62e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kalarmcal-15.08.0.tar.xz">kalarmcal-15.08.0</a></td>
   <td align="right">85kB</td>
   <td><tt>26f21a0cae94f6ce86cd2d484b1d52ed8361132d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kalgebra-15.08.0.tar.xz">kalgebra-15.08.0</a></td>
   <td align="right">263kB</td>
   <td><tt>9dc5d60ce589d1d106758b5b4e7807c05c6d04e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kalzium-15.08.0.tar.xz">kalzium-15.08.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>bcdb59b5fddea7ff940181810b94e6ea4c24c214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kamera-15.08.0.tar.xz">kamera-15.08.0</a></td>
   <td align="right">34kB</td>
   <td><tt>3eef51f3480861e63e9d24dc06697b9efe41d192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kanagram-15.08.0.tar.xz">kanagram-15.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e69a232547ccb95670f9f2e032f511d777a1f673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kapman-15.08.0.tar.xz">kapman-15.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3a9755db500252c4d39ebea02713639264f13e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kapptemplate-15.08.0.tar.xz">kapptemplate-15.08.0</a></td>
   <td align="right">689kB</td>
   <td><tt>3a86f69cb560f9fede96d582d6bb4c7108da4f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kate-15.08.0.tar.xz">kate-15.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cd842f71a556c2d0bb979948840083f7c1f54380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/katomic-15.08.0.tar.xz">katomic-15.08.0</a></td>
   <td align="right">646kB</td>
   <td><tt>666124d75d0a77126d849bb5657f5acad5a3f7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kblackbox-15.08.0.tar.xz">kblackbox-15.08.0</a></td>
   <td align="right">255kB</td>
   <td><tt>d94c4bb1ba441ca92f2d06dc5cf645f1df2bbe58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kblocks-15.08.0.tar.xz">kblocks-15.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>504c5983b7c5b1ddc80b0a41b336f1f5258b4671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kblog-15.08.0.tar.xz">kblog-15.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>dfe0a704ef47693e76b64c618e308db45daccb05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kbounce-15.08.0.tar.xz">kbounce-15.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b33da840f481fc6079bf021cbd64b6234da9ff01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kbreakout-15.08.0.tar.xz">kbreakout-15.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>56705e3cd4d76f6d3064d39bb256f02b577fb453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kbruch-15.08.0.tar.xz">kbruch-15.08.0</a></td>
   <td align="right">883kB</td>
   <td><tt>20ccb9164fcf7e2b915442895e905b76d9b5e877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcachegrind-15.08.0.tar.xz">kcachegrind-15.08.0</a></td>
   <td align="right">232kB</td>
   <td><tt>dfce6fa1bf58bc80c05a424bb9e2ab10410c0a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcalc-15.08.0.tar.xz">kcalc-15.08.0</a></td>
   <td align="right">81kB</td>
   <td><tt>4a0b1d04bbc27b4fb64f057f5843e46aeaa5d044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcalcore-15.08.0.tar.xz">kcalcore-15.08.0</a></td>
   <td align="right">287kB</td>
   <td><tt>6ed748d61ed2c9ca872c1d53bcdc3521737cdab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcalutils-15.08.0.tar.xz">kcalutils-15.08.0</a></td>
   <td align="right">53kB</td>
   <td><tt>32ac542ead490ce958601f9ade1a8bdeb8f23a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcharselect-15.08.0.tar.xz">kcharselect-15.08.0</a></td>
   <td align="right">82kB</td>
   <td><tt>297fcccc803304831d3e7dec41967ed6616735ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcolorchooser-15.08.0.tar.xz">kcolorchooser-15.08.0</a></td>
   <td align="right">4kB</td>
   <td><tt>4a64c1bab0525c5b6cbf4c5f8c1c7d812673a63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcontacts-15.08.0.tar.xz">kcontacts-15.08.0</a></td>
   <td align="right">131kB</td>
   <td><tt>ee1ad9ab75c9aa158180fd4ac31616486c71ad94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kcron-15.08.0.tar.xz">kcron-15.08.0</a></td>
   <td align="right">136kB</td>
   <td><tt>c8cbe5f35d8fbd060393d8e3733177e53544090b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdeartwork-15.08.0.tar.xz">kdeartwork-15.08.0</a></td>
   <td align="right">134MB</td>
   <td><tt>f4c42b5afa4edb7ba9e6388f2f7c56517f2699d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-baseapps-15.08.0.tar.xz">kde-baseapps-15.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>637d91462557487fe2e1a1fc7cf38729658ded81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-base-artwork-15.08.0.tar.xz">kde-base-artwork-15.08.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>339ff30c1df5b577d17fa0a3e55b7f286a397287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdebugsettings-15.08.0.tar.xz">kdebugsettings-15.08.0</a></td>
   <td align="right">19kB</td>
   <td><tt>afe6c6857ec5bc2d70b5dfb9ec8f697075fefa40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-dev-scripts-15.08.0.tar.xz">kde-dev-scripts-15.08.0</a></td>
   <td align="right">299kB</td>
   <td><tt>1ec0c5f33e84e9397b696df6af0d274351ea56af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-dev-utils-15.08.0.tar.xz">kde-dev-utils-15.08.0</a></td>
   <td align="right">50kB</td>
   <td><tt>cfa6da964d3b85041158a9d9a6d166f298f13265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdeedu-data-15.08.0.tar.xz">kdeedu-data-15.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>c643e35e483c4633dd7812cd4f3ab3eba3f6cf9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdegraphics-mobipocket-15.08.0.tar.xz">kdegraphics-mobipocket-15.08.0</a></td>
   <td align="right">14kB</td>
   <td><tt>05bf2216fa46ad5a4e0ed17230033fdad334233a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdegraphics-strigi-analyzer-15.08.0.tar.xz">kdegraphics-strigi-analyzer-15.08.0</a></td>
   <td align="right">39kB</td>
   <td><tt>32cfb5086301323c7d013528fabc8fcc9295b57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdegraphics-thumbnailers-15.08.0.tar.xz">kdegraphics-thumbnailers-15.08.0</a></td>
   <td align="right">40kB</td>
   <td><tt>77373ba7cf9a234429b2dcb141f20d33d369f91e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdelibs-4.14.11.tar.xz">kdelibs-4.14.11</a></td>
   <td align="right">11MB</td>
   <td><tt>b25177d6247db8b83faed710f5e713a81c8f8e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdenetwork-filesharing-15.08.0.tar.xz">kdenetwork-filesharing-15.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>74d1da2fdc7f7438c1fa85b692d45ed4259f0b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdenetwork-strigi-analyzers-15.08.0.tar.xz">kdenetwork-strigi-analyzers-15.08.0</a></td>
   <td align="right">14kB</td>
   <td><tt>06fca60a3f585dad1a6333ab6a6c13e7b1442259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdenlive-15.08.0.tar.xz">kdenlive-15.08.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f713a44cd3d8f8230bdd7ec127bd3df90f1e31cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdepim-15.08.0.tar.xz">kdepim-15.08.0</a></td>
   <td align="right">8.6MB</td>
   <td><tt>e0bdf22fbf9bc4ebcb85f8202315334d4eff8c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdepimlibs-15.08.0.tar.xz">kdepimlibs-15.08.0</a></td>
   <td align="right">991kB</td>
   <td><tt>83c85cabc85e3db1b9df4e8d58346bb6b34c2f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdepim-runtime-15.08.0.tar.xz">kdepim-runtime-15.08.0</a></td>
   <td align="right">693kB</td>
   <td><tt>fcc9549bdacc25cb464a18efefcbacf7494dfd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-runtime-15.08.0.tar.xz">kde-runtime-15.08.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>cf356762677d80adfec16d5756839cdfa36b84d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdesdk-kioslaves-15.08.0.tar.xz">kdesdk-kioslaves-15.08.0</a></td>
   <td align="right">352kB</td>
   <td><tt>3ccba6889b1d5b12d6abae135457db5d4d85d2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdesdk-strigi-analyzers-15.08.0.tar.xz">kdesdk-strigi-analyzers-15.08.0</a></td>
   <td align="right">17kB</td>
   <td><tt>dca5e21b9c595749f103aefb878d85e6e922a492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdesdk-thumbnailers-15.08.0.tar.xz">kdesdk-thumbnailers-15.08.0</a></td>
   <td align="right">11kB</td>
   <td><tt>a28228a1c4b34d25262c5fb369d61f00ab96ce12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-wallpapers-15.08.0.tar.xz">kde-wallpapers-15.08.0</a></td>
   <td align="right">86MB</td>
   <td><tt>a44e3abef23c3d7a2637b33d883cd552a871bd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdewebdev-15.08.0.tar.xz">kdewebdev-15.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7d2beee775715262ef7260b82e23be25e457e8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-workspace-4.11.22.tar.xz">kde-workspace-4.11.22</a></td>
   <td align="right">12MB</td>
   <td><tt>f08fbe309ed16c51ad31b0b260b2adeb7af1bb37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdf-15.08.0.tar.xz">kdf-15.08.0</a></td>
   <td align="right">145kB</td>
   <td><tt>da94ba6d4bc875eaafbbb964534a245459efadc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kdiamond-15.08.0.tar.xz">kdiamond-15.08.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1cf25d1590c208ce0df52485010b1a86b73ab592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kfloppy-15.08.0.tar.xz">kfloppy-15.08.0</a></td>
   <td align="right">52kB</td>
   <td><tt>a195a7621dfbb79aab86b303eed37a5e5a262c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kfourinline-15.08.0.tar.xz">kfourinline-15.08.0</a></td>
   <td align="right">275kB</td>
   <td><tt>7c21ecfb5d72a8c1617687e6ba5ea835282480d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kgeography-15.08.0.tar.xz">kgeography-15.08.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>a5c79f3e8a034c1d36bf5a3c678fbce82de12449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kget-15.08.0.tar.xz">kget-15.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d77fb592fee17cc8856a55678af7ca36d87d9a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kgoldrunner-15.08.0.tar.xz">kgoldrunner-15.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d6288ca4374a429d20effc88264bd4a42b10a620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kgpg-15.08.0.tar.xz">kgpg-15.08.0</a></td>
   <td align="right">791kB</td>
   <td><tt>800c7087b08291418ae8b7a135af2530252cd6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/khangman-15.08.0.tar.xz">khangman-15.08.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>5b492da888020f122e7fec14ef23250cade6a3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kholidays-15.08.0.tar.xz">kholidays-15.08.0</a></td>
   <td align="right">167kB</td>
   <td><tt>f08416f94f7829a4369943cb04bdc1b290331eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kidentitymanagement-15.08.0.tar.xz">kidentitymanagement-15.08.0</a></td>
   <td align="right">35kB</td>
   <td><tt>bb0dc21d5df800751ea785e902d2955a379119e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kig-15.08.0.tar.xz">kig-15.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5d980bef6706e33d0077e5e61f9f63f44b72bc07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kigo-15.08.0.tar.xz">kigo-15.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cbc726b8e3de399e0985a27a09baabb0f0a279a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/killbots-15.08.0.tar.xz">killbots-15.08.0</a></td>
   <td align="right">941kB</td>
   <td><tt>47faaec809234564787d851b4228b888e326971d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kimap-15.08.0.tar.xz">kimap-15.08.0</a></td>
   <td align="right">87kB</td>
   <td><tt>402e19a3be4e95a136bea709fadef4015574bb8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kio-extras-15.08.0.tar.xz">kio-extras-15.08.0</a></td>
   <td align="right">260kB</td>
   <td><tt>18e9d3f75625adeb9f4afc3f2c7ec05df1effaf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kiriki-15.08.0.tar.xz">kiriki-15.08.0</a></td>
   <td align="right">115kB</td>
   <td><tt>f604ba8642717464db16709edeb5ac2d0ead0554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kiten-15.08.0.tar.xz">kiten-15.08.0</a></td>
   <td align="right">11MB</td>
   <td><tt>089b8e1ba1d52a65602907f7780bf9f559e3e6cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kjumpingcube-15.08.0.tar.xz">kjumpingcube-15.08.0</a></td>
   <td align="right">161kB</td>
   <td><tt>f8eebf1eba8d71f049e8a9bd9c6996369e94ebe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kldap-15.08.0.tar.xz">kldap-15.08.0</a></td>
   <td align="right">52kB</td>
   <td><tt>db8a03ce94545fd236cc1df41280e31c1a52ef35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/klettres-15.08.0.tar.xz">klettres-15.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d52a3b382376f9bda9591ce9c22d435261b14b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/klickety-15.08.0.tar.xz">klickety-15.08.0</a></td>
   <td align="right">765kB</td>
   <td><tt>396ae3fd670144395b25879f4a094b63df30ecb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/klines-15.08.0.tar.xz">klines-15.08.0</a></td>
   <td align="right">928kB</td>
   <td><tt>0daa0e70ebf6cb58cd96ab405ee11fcbb4f3e3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmag-15.08.0.tar.xz">kmag-15.08.0</a></td>
   <td align="right">84kB</td>
   <td><tt>3a1aee876559a8c055e52059cb21dea7cc36b298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmahjongg-15.08.0.tar.xz">kmahjongg-15.08.0</a></td>
   <td align="right">984kB</td>
   <td><tt>ffb03c3d7d9eda1c888a6571abc99e2a8dab8f0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmailtransport-15.08.0.tar.xz">kmailtransport-15.08.0</a></td>
   <td align="right">64kB</td>
   <td><tt>bcba511e706e1e1f88f1d05001a8267473067fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmbox-15.08.0.tar.xz">kmbox-15.08.0</a></td>
   <td align="right">23kB</td>
   <td><tt>de20a8cdfa0195e34da707943800121389be870a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmime-15.08.0.tar.xz">kmime-15.08.0</a></td>
   <td align="right">121kB</td>
   <td><tt>12fccaef4defb9bfe5fe3140789323d05009a012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmines-15.08.0.tar.xz">kmines-15.08.0</a></td>
   <td align="right">609kB</td>
   <td><tt>66b6061c1582070294e3fa90601cd1f76d63a41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmix-15.08.0.tar.xz">kmix-15.08.0</a></td>
   <td align="right">379kB</td>
   <td><tt>941bed772963cffca401662a1ad58bc75f3724bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmousetool-15.08.0.tar.xz">kmousetool-15.08.0</a></td>
   <td align="right">34kB</td>
   <td><tt>4e9c28536e98af8e6c9f835559457c9d4e13cbf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmouth-15.08.0.tar.xz">kmouth-15.08.0</a></td>
   <td align="right">270kB</td>
   <td><tt>9c862431e0f17ee1ac6a4527b4394e4efded5a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kmplot-15.08.0.tar.xz">kmplot-15.08.0</a></td>
   <td align="right">647kB</td>
   <td><tt>932c7121438c6137ccc0c64c995161168705de25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/knavalbattle-15.08.0.tar.xz">knavalbattle-15.08.0</a></td>
   <td align="right">834kB</td>
   <td><tt>bcbd0e4d925e3fa8c66a1f936f5170260723bb14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/knetwalk-15.08.0.tar.xz">knetwalk-15.08.0</a></td>
   <td align="right">765kB</td>
   <td><tt>45c33317a1161617c2dfff428d981ac8a1feaf84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kolf-15.08.0.tar.xz">kolf-15.08.0</a></td>
   <td align="right">748kB</td>
   <td><tt>9b4eb032798a517df8cda6b08a6f8649e001074e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kollision-15.08.0.tar.xz">kollision-15.08.0</a></td>
   <td align="right">204kB</td>
   <td><tt>12dd6c0ef90e9280af75ff2a402a0664c78c9e72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kolourpaint-15.08.0.tar.xz">kolourpaint-15.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2dead0f35d8c929c872b870cb7460cab81eb123e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kompare-15.08.0.tar.xz">kompare-15.08.0</a></td>
   <td align="right">336kB</td>
   <td><tt>0d8d981090a28d99ed2241b6d49b8ebe102fbde6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/konquest-15.08.0.tar.xz">konquest-15.08.0</a></td>
   <td align="right">396kB</td>
   <td><tt>2910dc5c7533457dd3d2e593c80bb027afcaf30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/konsole-15.08.0.tar.xz">konsole-15.08.0</a></td>
   <td align="right">448kB</td>
   <td><tt>04df0367b89cca62dd6754de5d1dc6b32d626b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kontactinterface-15.08.0.tar.xz">kontactinterface-15.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>f61caa50495e949a05510fc661511e2a2ed2373b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kopete-15.08.0.tar.xz">kopete-15.08.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>b7ee954b96d10be94fa59b99ecdf302ba73c88f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kpat-15.08.0.tar.xz">kpat-15.08.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bd0f70ba8fe5b3ba345f3f278e7138b4743ab0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kpimtextedit-15.08.0.tar.xz">kpimtextedit-15.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>fef27a9bc13a433b6b902dbc0c387cf8b00cbb6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kppp-15.08.0.tar.xz">kppp-15.08.0</a></td>
   <td align="right">683kB</td>
   <td><tt>2a4477720d4302300326a838dc94140fd0d9fcd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kqtquickcharts-15.08.0.tar.xz">kqtquickcharts-15.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e08f286bc612e12c7ff562c2726e310616a47ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/krdc-15.08.0.tar.xz">krdc-15.08.0</a></td>
   <td align="right">389kB</td>
   <td><tt>571c43f369997fbfc5582cdb5fccb27f14646579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kremotecontrol-15.08.0.tar.xz">kremotecontrol-15.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>04901b86a4906186920f90305fcd6d6d10de7cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kreversi-15.08.0.tar.xz">kreversi-15.08.0</a></td>
   <td align="right">464kB</td>
   <td><tt>1e47311f34fd85969d87847e3dafde2ad0ad47ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/krfb-15.08.0.tar.xz">krfb-15.08.0</a></td>
   <td align="right">319kB</td>
   <td><tt>e04864fd6532b2eb467fa59c025a092137d7015b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kross-interpreters-15.08.0.tar.xz">kross-interpreters-15.08.0</a></td>
   <td align="right">129kB</td>
   <td><tt>1ef0a2dfcbc56f8cd9b737f1fa225f4ee386afb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kruler-15.08.0.tar.xz">kruler-15.08.0</a></td>
   <td align="right">120kB</td>
   <td><tt>bcf9afa2ed24c39d00b8d60778149bbfcd375548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksaneplugin-15.08.0.tar.xz">ksaneplugin-15.08.0</a></td>
   <td align="right">12kB</td>
   <td><tt>f1720282fbdb4ff2709a098477e24dd9e5f9eb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kscd-15.08.0.tar.xz">kscd-15.08.0</a></td>
   <td align="right">90kB</td>
   <td><tt>6ee3177161bc14deb96d9b39197c947cf1086f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kshisen-15.08.0.tar.xz">kshisen-15.08.0</a></td>
   <td align="right">133kB</td>
   <td><tt>93c84c51a39e3248248623b9000135d8f3765a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksirk-15.08.0.tar.xz">ksirk-15.08.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fba004a263526223b7051b0b61677b00e1e5ac08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksnakeduel-15.08.0.tar.xz">ksnakeduel-15.08.0</a></td>
   <td align="right">290kB</td>
   <td><tt>529dd6603d275133d66c57810d48f9bb30f33972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksnapshot-15.08.0.tar.xz">ksnapshot-15.08.0</a></td>
   <td align="right">252kB</td>
   <td><tt>0b4be16ac880d1287feaf2b20017c99f2e7dafda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kspaceduel-15.08.0.tar.xz">kspaceduel-15.08.0</a></td>
   <td align="right">247kB</td>
   <td><tt>c593512d359fe20c98d6e251c0bfd6227d9e2c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksquares-15.08.0.tar.xz">ksquares-15.08.0</a></td>
   <td align="right">78kB</td>
   <td><tt>bbdecbb16445c607d6ce2847b57902c47a9bf511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kstars-15.08.0.tar.xz">kstars-15.08.0</a></td>
   <td align="right">12MB</td>
   <td><tt>343d67f10fbe0a5b9e86909706306fa2afbfa108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksudoku-15.08.0.tar.xz">ksudoku-15.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f8f57f9fe9791737b830f238b55a48c6be351f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ksystemlog-15.08.0.tar.xz">ksystemlog-15.08.0</a></td>
   <td align="right">372kB</td>
   <td><tt>e6babe9ab111b64aafb7d7baaf09dd1f27c2f52d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kteatime-15.08.0.tar.xz">kteatime-15.08.0</a></td>
   <td align="right">102kB</td>
   <td><tt>3c4f2376ded0cb4f324fde9cbbcb524717fb7c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktimer-15.08.0.tar.xz">ktimer-15.08.0</a></td>
   <td align="right">143kB</td>
   <td><tt>fff657aacb2201b26cf5e1209bc23eb7fb339118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktnef-15.08.0.tar.xz">ktnef-15.08.0</a></td>
   <td align="right">227kB</td>
   <td><tt>06c8f23387d9ca378c43863b6970ddb4246d190d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktouch-15.08.0.tar.xz">ktouch-15.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0c192dccee382fc35fe727e8841c8151235df762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-accounts-kcm-15.08.0.tar.xz">ktp-accounts-kcm-15.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>e5016109f753a57ee7618e61dcf9ce17821429d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-approver-15.08.0.tar.xz">ktp-approver-15.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e59d378a0e284772f36d7fc2cf84dd51d626d3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-auth-handler-15.08.0.tar.xz">ktp-auth-handler-15.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>571d90fa7b45bea7a79cde4fe4b90ec4757db8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-common-internals-15.08.0.tar.xz">ktp-common-internals-15.08.0</a></td>
   <td align="right">306kB</td>
   <td><tt>8a97bf6039347ba593c0083d71ad8435b8fee81e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-contact-list-15.08.0.tar.xz">ktp-contact-list-15.08.0</a></td>
   <td align="right">47kB</td>
   <td><tt>10d26d20914c4fbf157c98a9e62195f68473c54b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-contact-runner-15.08.0.tar.xz">ktp-contact-runner-15.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>aa12f3db7c831f0b17b7cced7f298edc059e1cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-desktop-applets-15.08.0.tar.xz">ktp-desktop-applets-15.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>674154e0b86412d648666edc37315c1ef5d13f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-filetransfer-handler-15.08.0.tar.xz">ktp-filetransfer-handler-15.08.0</a></td>
   <td align="right">22kB</td>
   <td><tt>65547db670f57b7653d2c92ae73a4e0ab58d75cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-kded-module-15.08.0.tar.xz">ktp-kded-module-15.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>74e94ed09a3201e4ae5ea4e7844b74168f77bb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-send-file-15.08.0.tar.xz">ktp-send-file-15.08.0</a></td>
   <td align="right">14kB</td>
   <td><tt>430ef5e8540c5c723210da2c33679c9fac879564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktp-text-ui-15.08.0.tar.xz">ktp-text-ui-15.08.0</a></td>
   <td align="right">287kB</td>
   <td><tt>29324bb77f298466105108cbc7b523bbab1ab8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktuberling-15.08.0.tar.xz">ktuberling-15.08.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>07d331dc1cddee6931234ffc7ba7774c3ea9363a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kturtle-15.08.0.tar.xz">kturtle-15.08.0</a></td>
   <td align="right">189kB</td>
   <td><tt>e0eaf0e5e175d8d590d14bfb6ecd89b22da8a01a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/ktux-15.08.0.tar.xz">ktux-15.08.0</a></td>
   <td align="right">106kB</td>
   <td><tt>346562dec0bdcc3346b1eac2196f5fd1a9e7fc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kubrick-15.08.0.tar.xz">kubrick-15.08.0</a></td>
   <td align="right">104kB</td>
   <td><tt>387932788a369aa924b15ab6e886a3b832c1d53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kuser-15.08.0.tar.xz">kuser-15.08.0</a></td>
   <td align="right">132kB</td>
   <td><tt>263e39913b5bc2ab3869548040f8c17b6aeca705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kwalletmanager-15.08.0.tar.xz">kwalletmanager-15.08.0</a></td>
   <td align="right">446kB</td>
   <td><tt>b392a53bc37ef2dd28667f1c02cf906f73ce305c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kwordquiz-15.08.0.tar.xz">kwordquiz-15.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ea002f131f8aaa41ab5ad8c6b07fdb836d7ea0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkcddb-15.08.0.tar.xz">libkcddb-15.08.0</a></td>
   <td align="right">154kB</td>
   <td><tt>d5ec18d1f100da70b39ed818c2af535ca2665b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkcompactdisc-15.08.0.tar.xz">libkcompactdisc-15.08.0</a></td>
   <td align="right">74kB</td>
   <td><tt>d58e6c86244f8bfbdf3cf7ed8fc6321433b6bcf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkdcraw-15.08.0.tar.xz">libkdcraw-15.08.0</a></td>
   <td align="right">99kB</td>
   <td><tt>80468c08e99c4e104b81b50423e99ae29c1d4444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkdeedu-15.08.0.tar.xz">libkdeedu-15.08.0</a></td>
   <td align="right">128kB</td>
   <td><tt>74a8492c533c4e6054297b12dd443cce19dcdd96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkdegames-15.08.0.tar.xz">libkdegames-15.08.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>8134879afd3c7d8c3df638f1802d693c37fd852c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkeduvocdocument-15.08.0.tar.xz">libkeduvocdocument-15.08.0</a></td>
   <td align="right">96kB</td>
   <td><tt>8daf770d475ad12c96f08c0759b8f2139b5e2137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkexiv2-15.08.0.tar.xz">libkexiv2-15.08.0</a></td>
   <td align="right">134kB</td>
   <td><tt>bd83a15f0727a2b2b712fc8c66bed4ee173c4a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkface-15.08.0.tar.xz">libkface-15.08.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d33f13ca5828de2b4cf90b3a73107f4c2d9913f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkgeomap-15.08.0.tar.xz">libkgeomap-15.08.0</a></td>
   <td align="right">121kB</td>
   <td><tt>d7effd434d6405575cddea69589c03f6ae54f273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkipi-15.08.0.tar.xz">libkipi-15.08.0</a></td>
   <td align="right">92kB</td>
   <td><tt>f65dd7018888837614b71d50589681a77244f6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkmahjongg-15.08.0.tar.xz">libkmahjongg-15.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b61e4a95861dc0d6533e24054aa9ef4db50705cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libkomparediff2-15.08.0.tar.xz">libkomparediff2-15.08.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f71be61c22e9d20400819f55492a38f6ac43600d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/libksane-15.08.0.tar.xz">libksane-15.08.0</a></td>
   <td align="right">79kB</td>
   <td><tt>5597fd42acb40e31e1b653637954565bf468a831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/lokalize-15.08.0.tar.xz">lokalize-15.08.0</a></td>
   <td align="right">930kB</td>
   <td><tt>1444d9a86248da6612626ed665bfe3ac1d2c3725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/lskat-15.08.0.tar.xz">lskat-15.08.0</a></td>
   <td align="right">908kB</td>
   <td><tt>ea3225af0efc6971fd0d7acc40aa76d62075b58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/marble-15.08.0.tar.xz">marble-15.08.0</a></td>
   <td align="right">22MB</td>
   <td><tt>f8adb053e0b9ff6d0a2bc95593ed38afaae2a4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/mplayerthumbs-15.08.0.tar.xz">mplayerthumbs-15.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>da6c38f8be63ad9d688edd1a3f10de453d502fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/okteta-15.08.0.tar.xz">okteta-15.08.0</a></td>
   <td align="right">492kB</td>
   <td><tt>14bcb82cb13055a00860938b22f6f90174fec3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/okular-15.08.0.tar.xz">okular-15.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4e1eee8bd9f931cf60cf9ea8af9244cc37e3170b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/palapeli-15.08.0.tar.xz">palapeli-15.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b763213dbeaa82f0e258d66ce146043d98b80f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/parley-15.08.0.tar.xz">parley-15.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>4191522d328bca2a1495b7be74b16ae24329ffd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/picmi-15.08.0.tar.xz">picmi-15.08.0</a></td>
   <td align="right">717kB</td>
   <td><tt>259962417894d53ebb341846fca480b1b03a84e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/poxml-15.08.0.tar.xz">poxml-15.08.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d96e51d9e6b4a75b5c6d9691d1fcd254684aa3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/print-manager-15.08.0.tar.xz">print-manager-15.08.0</a></td>
   <td align="right">91kB</td>
   <td><tt>616630ded6b612cb4b5137e31e7f0beb5a2cfe9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/rocs-15.08.0.tar.xz">rocs-15.08.0</a></td>
   <td align="right">521kB</td>
   <td><tt>6d297b9c53366d9d944d881ed2673118626a3435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/signon-kwallet-extension-15.08.0.tar.xz">signon-kwallet-extension-15.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>eeedbd7b0f5771e6a0306b4b51849110d3cd3d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/step-15.08.0.tar.xz">step-15.08.0</a></td>
   <td align="right">378kB</td>
   <td><tt>210d68fcd2ba909971966cb4784d7f578eb907b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/superkaramba-15.08.0.tar.xz">superkaramba-15.08.0</a></td>
   <td align="right">372kB</td>
   <td><tt>fe0c283ce672a64020e6e79678ec8152b9f50043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/svgpart-15.08.0.tar.xz">svgpart-15.08.0</a></td>
   <td align="right">8kB</td>
   <td><tt>3fa1dde8df2f469bc8a693141e6c5147856a3df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/sweeper-15.08.0.tar.xz">sweeper-15.08.0</a></td>
   <td align="right">80kB</td>
   <td><tt>359e2ca2a18ddefb56455086ab189857f40c1e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/syndication-15.08.0.tar.xz">syndication-15.08.0</a></td>
   <td align="right">156kB</td>
   <td><tt>01f3d84ad37580d63bc7e573b1b57bf29430665f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/umbrello-15.08.0.tar.xz">umbrello-15.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>571430fbc18ee4ff4ebf6487eaebe4da12bee2e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/zeroconf-ioslave-15.08.0.tar.xz">zeroconf-ioslave-15.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2835d8017cc63f167cd8ee7403144896998da05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ar-15.08.0.tar.xz">kde-l10n-ar-15.08.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e770704d7b0cc5959ddeb5050534e2b218e08396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-bg-15.08.0.tar.xz">kde-l10n-bg-15.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>236a2bb19f022cbdbfcefd7b26e707e41caa1799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-bs-15.08.0.tar.xz">kde-l10n-bs-15.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4d5660722455edaceeb9f2abb773f4f87a667727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ca-15.08.0.tar.xz">kde-l10n-ca-15.08.0</a></td>
   <td align="right">11MB</td>
   <td><tt>b27b2be324733644f5688b161933cea782ddd4b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ca@valencia-15.08.0.tar.xz">kde-l10n-ca@valencia-15.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c8bdcc6c47412d676bf923b37191bd611107e1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-cs-15.08.0.tar.xz">kde-l10n-cs-15.08.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>836e9f28bf3dc404bfc218746b4578ad11422229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-da-15.08.0.tar.xz">kde-l10n-da-15.08.0</a></td>
   <td align="right">12MB</td>
   <td><tt>1a972e55ad9f650e9502603738a5643728c1363f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-de-15.08.0.tar.xz">kde-l10n-de-15.08.0</a></td>
   <td align="right">32MB</td>
   <td><tt>1136b550feaf179a4e386f7a8c7ab8ec0de96b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-el-15.08.0.tar.xz">kde-l10n-el-15.08.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>7194effdda09a1c607b03d764c564b20a1acbbc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-en_GB-15.08.0.tar.xz">kde-l10n-en_GB-15.08.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>91ae3902f160c5a44a49dddeccda0148e86ce1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-eo-15.08.0.tar.xz">kde-l10n-eo-15.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0ec00df8a675eb35f8c19910a29b3e4d86706b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-es-15.08.0.tar.xz">kde-l10n-es-15.08.0</a></td>
   <td align="right">17MB</td>
   <td><tt>d0bb44342ba5592974643da080dc27832701ffc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-et-15.08.0.tar.xz">kde-l10n-et-15.08.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>1c8687062fd7a7914a6e6eaf9920dd8478db490b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-eu-15.08.0.tar.xz">kde-l10n-eu-15.08.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7c92196983e1a8ea7a89841d2caa0dc21a579072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-fa-15.08.0.tar.xz">kde-l10n-fa-15.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6d6c9d69eebbed4557f5355a2683c9e0ac71c7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-fi-15.08.0.tar.xz">kde-l10n-fi-15.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>05fb57adc2ca8371ea76afeba5821d37f12c4e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-fr-15.08.0.tar.xz">kde-l10n-fr-15.08.0</a></td>
   <td align="right">42MB</td>
   <td><tt>3841843b359da2c7eb0ee2056cf0ce643a8ff243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ga-15.08.0.tar.xz">kde-l10n-ga-15.08.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>71967af48aa2dcbc6290d5c9fd1c7a7282b05f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-gl-15.08.0.tar.xz">kde-l10n-gl-15.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>bf9468acf5b2e4b439b5c3a0f5fd93e06a170ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-he-15.08.0.tar.xz">kde-l10n-he-15.08.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4ddef29de4e737cda4fdafc1bd2d975b13dc3317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-hi-15.08.0.tar.xz">kde-l10n-hi-15.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2032fc06b2d1f944d046083a75d464e00a35326a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-hr-15.08.0.tar.xz">kde-l10n-hr-15.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>04a9d62f5d3d479c3f7872fc2311547ba8d9c4e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-hu-15.08.0.tar.xz">kde-l10n-hu-15.08.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>636b3476893186e66d59557bc558c8d623df37ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ia-15.08.0.tar.xz">kde-l10n-ia-15.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>68ef1096972aebd2a4e03b6ba07b7bc3461e61ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-id-15.08.0.tar.xz">kde-l10n-id-15.08.0</a></td>
   <td align="right">559kB</td>
   <td><tt>cab47eb2e7054d4133e4fbdeb40c9431fe681706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-is-15.08.0.tar.xz">kde-l10n-is-15.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>949596b8f100a75050ccd067e9e7dd13edf06328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-it-15.08.0.tar.xz">kde-l10n-it-15.08.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>eca3dd1e02025f2b5d758abd7aee75f4d85a7dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ja-15.08.0.tar.xz">kde-l10n-ja-15.08.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c040ff04ea535bcec91ed0fb112a4fc89b902d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-kk-15.08.0.tar.xz">kde-l10n-kk-15.08.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b555b13a0b6a0a88110740be454a62d98668fb1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-km-15.08.0.tar.xz">kde-l10n-km-15.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7f1a6c72d51d40cb6658802bd95e43e89f83ffae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ko-15.08.0.tar.xz">kde-l10n-ko-15.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4fba80022b920422f39fb247b72895cc226b0244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-lt-15.08.0.tar.xz">kde-l10n-lt-15.08.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a45b592c532ea86a0105a0577b81e0ec5122de83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-lv-15.08.0.tar.xz">kde-l10n-lv-15.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6f50a6b8e406abe9e386fae50d9f419d3dd5ba17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-mr-15.08.0.tar.xz">kde-l10n-mr-15.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>317652d902013753b6143498c0df3120b8af0902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-nb-15.08.0.tar.xz">kde-l10n-nb-15.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>92b96a90f6c48327aa24bb0cd54b48cc6ea59407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-nds-15.08.0.tar.xz">kde-l10n-nds-15.08.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>0ff617a9b5b0dfee913584fcb4666759ce6339a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-nl-15.08.0.tar.xz">kde-l10n-nl-15.08.0</a></td>
   <td align="right">13MB</td>
   <td><tt>402c09533a4beefa49f0c9a65715e660257870ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-nn-15.08.0.tar.xz">kde-l10n-nn-15.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>40cf8aede47c2ab49899fd665863bad0a009d763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-pa-15.08.0.tar.xz">kde-l10n-pa-15.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b68fd906dc77583289292bc07862b59f8443e18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-pl-15.08.0.tar.xz">kde-l10n-pl-15.08.0</a></td>
   <td align="right">18MB</td>
   <td><tt>c8ddac93de337cc50ec633db7fbb6fddbb3567c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-pt-15.08.0.tar.xz">kde-l10n-pt-15.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>355f6fa33423d1ad7b2a7f1fcf35ccceb324e063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-pt_BR-15.08.0.tar.xz">kde-l10n-pt_BR-15.08.0</a></td>
   <td align="right">20MB</td>
   <td><tt>cccbadc191afb8683d283a384b38643163227b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ro-15.08.0.tar.xz">kde-l10n-ro-15.08.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e5220107af89cc42b3b387f934d5b487d9026151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ru-15.08.0.tar.xz">kde-l10n-ru-15.08.0</a></td>
   <td align="right">21MB</td>
   <td><tt>db738b3bbc1201760632db4ae003b2bae6f4f076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-sk-15.08.0.tar.xz">kde-l10n-sk-15.08.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>be6359e2e06e9b87efef7ef39075994372aef656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-sl-15.08.0.tar.xz">kde-l10n-sl-15.08.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>8b1c2bea37cd1b6ce8557e76396146bebc1a7bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-sr-15.08.0.tar.xz">kde-l10n-sr-15.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7568f9e67769713084a1105fe1c87727df73ee6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-sv-15.08.0.tar.xz">kde-l10n-sv-15.08.0</a></td>
   <td align="right">12MB</td>
   <td><tt>51f9c0866bd1d68209530b00f379fd981a060b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-tr-15.08.0.tar.xz">kde-l10n-tr-15.08.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>10e5ccb187087768b163f601d2b05131983fbf6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-ug-15.08.0.tar.xz">kde-l10n-ug-15.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>93a65249e18b62d872ca118e5e70be41068c272b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-uk-15.08.0.tar.xz">kde-l10n-uk-15.08.0</a></td>
   <td align="right">24MB</td>
   <td><tt>88f89ee6f93711b01515618bcf955791404b0339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-wa-15.08.0.tar.xz">kde-l10n-wa-15.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7d7a20dfbfcc35d12ab0fb71f150646210a06748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-zh_CN-15.08.0.tar.xz">kde-l10n-zh_CN-15.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3cda7f8bf003960ec5f72177e8d220236d8010f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.08.0/src/kde-l10n/kde-l10n-zh_TW-15.08.0.tar.xz">kde-l10n-zh_TW-15.08.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>65a9fe344a967d381587ba17d00b0e34713a53b0</tt></td>
</tr>

</table>
