<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/bluedevil-5.8.0.tar.xz">bluedevil-5.8.0</a></td>
   <td align="right">137kB</td>
   <td><tt>a218440c232ffddd9852fbdf6bc37818b343509708f19107c53f4bc6c85aeae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/breeze-5.8.0.tar.xz">breeze-5.8.0</a></td>
   <td align="right">31MB</td>
   <td><tt>1630c6cacced9c48b697aa78a406d0d7c3aa46fc164150636dc07f760dde853c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/breeze-grub-5.8.0.tar.xz">breeze-grub-5.8.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4ef792be56f37bb4325b2aa3947bf3cbc671af7a1e401a2eeaaa560b4d1d4afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/breeze-gtk-5.8.0.tar.xz">breeze-gtk-5.8.0</a></td>
   <td align="right">206kB</td>
   <td><tt>c312832cc5a729af17ef017b4073318927de834db2fd6252bbacd09a1157f0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/breeze-plymouth-5.8.0.tar.xz">breeze-plymouth-5.8.0</a></td>
   <td align="right">92kB</td>
   <td><tt>c83340a13c7a6ce3f9630ffc18b4215b3b083eca903c89424ac592e44e7a0d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/discover-5.8.0.tar.xz">discover-5.8.0</a></td>
   <td align="right">8.7MB</td>
   <td><tt>6b8a5016d66d7d9d9b0160a9443d0c9706712cf827b3807225bc689f132faa73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kactivitymanagerd-5.8.0.tar.xz">kactivitymanagerd-5.8.0</a></td>
   <td align="right">80kB</td>
   <td><tt>9e773d25882e7d3bead8674130781222419a8a62dfd27c0046f43b930bf74ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kde-cli-tools-5.8.0.tar.xz">kde-cli-tools-5.8.0</a></td>
   <td align="right">474kB</td>
   <td><tt>8561295ef8892d947a91b25cb4cddbb6c5cc40b39657a6cfc6fe4cfd98e728a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kdecoration-5.8.0.tar.xz">kdecoration-5.8.0</a></td>
   <td align="right">34kB</td>
   <td><tt>f95e2b6a40629ec432f36b8d11f0e53220e9d7d604788e843125dcf22e1d4b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kde-gtk-config-5.8.0.tar.xz">kde-gtk-config-5.8.0</a></td>
   <td align="right">146kB</td>
   <td><tt>4c21983bbd952781666cb04810bfc150be3774b387be5174b51c7a42a36576ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kdeplasma-addons-5.8.0.tar.xz">kdeplasma-addons-5.8.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6c6e72dc8cba0f3d37450fdcf28f6c243889aff6e78fe0e4e1e31de0d770c769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kgamma5-5.8.0.tar.xz">kgamma5-5.8.0</a></td>
   <td align="right">59kB</td>
   <td><tt>81282e4f3dff3b76d94a4a968809e01e79326e413e86bcfb13f1fb455269d290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/khotkeys-5.8.0.tar.xz">khotkeys-5.8.0</a></td>
   <td align="right">590kB</td>
   <td><tt>e13dfac7bbf795ddaf2137f55647a7e5bcc16f7f54a15a68298cd4d8903e4c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kinfocenter-5.8.0.tar.xz">kinfocenter-5.8.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>dfd8a237a2081e41a006f1978190ec9954be6b5545eaba2bf8daa17958d2590a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kmenuedit-5.8.0.tar.xz">kmenuedit-5.8.0</a></td>
   <td align="right">636kB</td>
   <td><tt>d6f1ce719fcf0238ead9ce460b57e2bbd7d146caeba29a6e2b7a3b2b63c50446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kscreen-5.8.0.tar.xz">kscreen-5.8.0</a></td>
   <td align="right">110kB</td>
   <td><tt>fdfb6d8b98dc5c024809fc010db840f6f8f9a6a9e874c4396a30951cb1cbe1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kscreenlocker-5.8.0.tar.xz">kscreenlocker-5.8.0</a></td>
   <td align="right">105kB</td>
   <td><tt>fc771a797939eb1b76a8dba6bb02b7b59f6c41803f49a2331b38c32f226620c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/ksshaskpass-5.8.0.tar.xz">ksshaskpass-5.8.0</a></td>
   <td align="right">18kB</td>
   <td><tt>4b1fdbd4edbbe65675e43556992982ee03d1c1c95fbd2c80f4003164558f74d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/ksysguard-5.8.0.tar.xz">ksysguard-5.8.0</a></td>
   <td align="right">476kB</td>
   <td><tt>df91f210baea22b1e8c0ecce8c3ab2dace0b143c4a52d9f9b9d1c178797f06b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kwallet-pam-5.8.0.tar.xz">kwallet-pam-5.8.0</a></td>
   <td align="right">17kB</td>
   <td><tt>b0f99629a58297ead5a839baa97e71e805ae2cff635f871b34d772b515763883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kwayland-integration-5.8.0.tar.xz">kwayland-integration-5.8.0</a></td>
   <td align="right">17kB</td>
   <td><tt>78237f27cf0c6ad394e53c40a9476399da5abce103df94f5238e6cf1f692d75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kwin-5.8.0.tar.xz">kwin-5.8.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>0c9710a7959fde3c468e255c938c41d94f92458483a509e9c3cdfaca9d0b999e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/kwrited-5.8.0.tar.xz">kwrited-5.8.0</a></td>
   <td align="right">19kB</td>
   <td><tt>8ec5d9737f954751b20233a25b98595095a94c57c2dd4f82f03ae3a7c2722e82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/libkscreen-5.8.0.tar.xz">libkscreen-5.8.0</a></td>
   <td align="right">90kB</td>
   <td><tt>a962ee148e811c1be125ad8dd27db99abd9bac4e0feb57ede13ff0151d6bf82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/libksysguard-5.8.0.tar.xz">libksysguard-5.8.0</a></td>
   <td align="right">557kB</td>
   <td><tt>c63c06c0d680c7cb0831277d80815c07f366fded48ed805f4689d6866413d540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/milou-5.8.0.tar.xz">milou-5.8.0</a></td>
   <td align="right">53kB</td>
   <td><tt>9b700557933466f3d75c5d8973246b747197c2113589641024d7b6fa9160122a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/oxygen-5.8.0.tar.xz">oxygen-5.8.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a0d607e999954cdf2f4855e6ccaf3a9b5fcda8894207d1bd082efc85e461dbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-desktop-5.8.0.tar.xz">plasma-desktop-5.8.0</a></td>
   <td align="right">7.2MB</td>
   <td><tt>8b326b1eb16f5a464a85b0960e681ccfb642f2aca1c305d6742e5f11ea7a4bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-integration-5.8.0.tar.xz">plasma-integration-5.8.0</a></td>
   <td align="right">48kB</td>
   <td><tt>c73fbcfc5f4784a0ad5bf26d16f95be3147a77b6f6b981043ba371f49737e7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-nm-5.8.0.tar.xz">plasma-nm-5.8.0</a></td>
   <td align="right">628kB</td>
   <td><tt>f904d35dfb0c2fdbeb4bd02017d9b8efec8e2ca15541778691c619de4dc27fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-pa-5.8.0.tar.xz">plasma-pa-5.8.0</a></td>
   <td align="right">67kB</td>
   <td><tt>5021ee7805699c351402e5ed31beacbac2936ba825e2a720c2d9d3dc7e53fa49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-sdk-5.8.0.tar.xz">plasma-sdk-5.8.0</a></td>
   <td align="right">697kB</td>
   <td><tt>a51a34d20801f19507191a0eae6805a38ae7c4743c64136c69ca16cc504197d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-tests-5.8.0.tar.xz">plasma-tests-5.8.0</a></td>
   <td align="right">1kB</td>
   <td><tt>0090beb0b4c09e8844a4aa47a9a1f048b70caf3e2307d9d1afde8f5d11af4cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-workspace-5.8.0.tar.xz">plasma-workspace-5.8.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>365b152c69ee7863bd1abe0e339707e412384beeb10294aacbc07e3d9da2b319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/plasma-workspace-wallpapers-5.8.0.tar.xz">plasma-workspace-wallpapers-5.8.0</a></td>
   <td align="right">43MB</td>
   <td><tt>4f94aef530c7b3845c2128a13097d1968b460b88b57a00b522c14e75f97bc7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/polkit-kde-agent-1-5.8.0.tar.xz">polkit-kde-agent-1-5.8.0</a></td>
   <td align="right">39kB</td>
   <td><tt>7d1e00b3ff75145a7fdd0b50bb1dce9a0090da21dbf4d738f942ca84d76bba74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/powerdevil-5.8.0.tar.xz">powerdevil-5.8.0</a></td>
   <td align="right">347kB</td>
   <td><tt>8187e7782a10dd8fba766ab05aa24154ce332fa76273dd09dcb003657a60810e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/sddm-kcm-5.8.0.tar.xz">sddm-kcm-5.8.0</a></td>
   <td align="right">47kB</td>
   <td><tt>6e2ed4618f7cbf2b835bebaa3f2eb4cb6c5878ffab9488b808760383e0d1c546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/systemsettings-5.8.0.tar.xz">systemsettings-5.8.0</a></td>
   <td align="right">154kB</td>
   <td><tt>2cfc19caf04a93cd1360ce1c5f081e3b362ba4038969ca8ed05710796138c64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.0/user-manager-5.8.0.tar.xz">user-manager-5.8.0</a></td>
   <td align="right">529kB</td>
   <td><tt>e64df8a6ba87d1527bd45e912183039f24b4151f929a7f019243f9175344cf7f</tt></td>
</tr>

</table>
