<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/amor-4.13.80.tar.xz">amor-4.13.80</a></td>
   <td align="right">170kB</td>
   <td><tt>5c33be3a8652faa085291d5e1e89f1b690c8c7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/analitza-4.13.80.tar.xz">analitza-4.13.80</a></td>
   <td align="right">195kB</td>
   <td><tt>1f1f34f6d009441b47b1e426d44012bebf791caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ark-4.13.80.tar.xz">ark-4.13.80</a></td>
   <td align="right">229kB</td>
   <td><tt>b6b63814a000d41316b711b9651ae83f392f4bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/artikulate-4.13.80.tar.xz">artikulate-4.13.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>adbb7723beb0b7af3e280c12ed09bb68e1fe51fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/audiocd-kio-4.13.80.tar.xz">audiocd-kio-4.13.80</a></td>
   <td align="right">50kB</td>
   <td><tt>70a54abac188ebe658ce6ef9b0b787214f13428a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/baloo-4.13.80.tar.xz">baloo-4.13.80</a></td>
   <td align="right">141kB</td>
   <td><tt>bcecbe3808c7023ce386c1b403bbaa919d2a071b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/baloo-widgets-4.13.80.tar.xz">baloo-widgets-4.13.80</a></td>
   <td align="right">36kB</td>
   <td><tt>defbf12aac019479ef18ea5ffc68daf11e7c62ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/blinken-4.13.80.tar.xz">blinken-4.13.80</a></td>
   <td align="right">550kB</td>
   <td><tt>14ad8a50103d5c9806748001c5e5a047afc9ae72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/bomber-4.13.80.tar.xz">bomber-4.13.80</a></td>
   <td align="right">377kB</td>
   <td><tt>0e969aecd1a3502da2f00788064789349039961b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/bovo-4.13.80.tar.xz">bovo-4.13.80</a></td>
   <td align="right">98kB</td>
   <td><tt>83804cccd5d4dc515d9de8fd8da2527036aed28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/cantor-4.13.80.tar.xz">cantor-4.13.80</a></td>
   <td align="right">332kB</td>
   <td><tt>34329f294067174657713868883fb14499b213b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/cervisia-4.13.80.tar.xz">cervisia-4.13.80</a></td>
   <td align="right">359kB</td>
   <td><tt>5235f6a6b1c0e621e0cd1fe8a2b5220b69c9a6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/dolphin-plugins-4.13.80.tar.xz">dolphin-plugins-4.13.80</a></td>
   <td align="right">56kB</td>
   <td><tt>33cf8021481648d5881a2ee2c2dedc76ce883702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/dragon-4.13.80.tar.xz">dragon-4.13.80</a></td>
   <td align="right">381kB</td>
   <td><tt>4df3475a180cad1e5fc00381d34c1ce3d2e00a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ffmpegthumbs-4.13.80.tar.xz">ffmpegthumbs-4.13.80</a></td>
   <td align="right">19kB</td>
   <td><tt>82714ad28447d09d1fe54f30af42977e55091799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/filelight-4.13.80.tar.xz">filelight-4.13.80</a></td>
   <td align="right">280kB</td>
   <td><tt>df6789c6dec934d8430935752a9ec63a665c4de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/granatier-4.13.80.tar.xz">granatier-4.13.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3011e3f4e8d5defda5b719565ad27dfdc17c221f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/gwenview-4.13.80.tar.xz">gwenview-4.13.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0c86fa4cc07b50a46212e70a3fe55f5b62a1bad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/jovie-4.13.80.tar.xz">jovie-4.13.80</a></td>
   <td align="right">371kB</td>
   <td><tt>15a044bf2cdd8720195a6b1173c9cbf943d7e258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/juk-4.13.80.tar.xz">juk-4.13.80</a></td>
   <td align="right">427kB</td>
   <td><tt>1af1011e9755e012e3b80f7ccc3ccb7ab3ab0df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kaccessible-4.13.80.tar.xz">kaccessible-4.13.80</a></td>
   <td align="right">20kB</td>
   <td><tt>8d56f3a6e25dbace33e5f5debe47959dc4773ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kajongg-4.13.80.tar.xz">kajongg-4.13.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ed08471507e1a33f64cb9b91a2713e3fa2d4554e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kalgebra-4.13.80.tar.xz">kalgebra-4.13.80</a></td>
   <td align="right">267kB</td>
   <td><tt>d3b69bb583be246186d6e239ee12293cecbc1b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kalzium-4.13.80.tar.xz">kalzium-4.13.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>1c602ecb6ea043dd7265db3843e423a401da7c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kamera-4.13.80.tar.xz">kamera-4.13.80</a></td>
   <td align="right">34kB</td>
   <td><tt>9b1dfbb806a18360eceb3a7e6e7d2e888ae166b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kanagram-4.13.80.tar.xz">kanagram-4.13.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>8e4188bde4a415d8f0757aca0414282321a72ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kapman-4.13.80.tar.xz">kapman-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c558ea5e7ddc4b6b6899dcdd80576f1f3a0530a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kapptemplate-4.13.80.tar.xz">kapptemplate-4.13.80</a></td>
   <td align="right">682kB</td>
   <td><tt>c0128003cad335989ac4ae87e311b8bd818287b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kate-4.13.80.tar.xz">kate-4.13.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a14a59febb91247deb37c89ed66ab6838cc5f687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/katomic-4.13.80.tar.xz">katomic-4.13.80</a></td>
   <td align="right">642kB</td>
   <td><tt>8017685fd3eb25115f1281e2186a8430b5f1aa5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kblackbox-4.13.80.tar.xz">kblackbox-4.13.80</a></td>
   <td align="right">251kB</td>
   <td><tt>5c34d13e549c4da7cf81a9e94570f337a501a4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kblocks-4.13.80.tar.xz">kblocks-4.13.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>667690d87e4ff8484790cc57c95cd79dda6049fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kbounce-4.13.80.tar.xz">kbounce-4.13.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ea27566d02a8090d6c37c114ef93e273c605a817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kbreakout-4.13.80.tar.xz">kbreakout-4.13.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e954b0c99373a0b90e9d70f73d39c3303e524cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kbruch-4.13.80.tar.xz">kbruch-4.13.80</a></td>
   <td align="right">879kB</td>
   <td><tt>aab75bdbbb1317216cf8ef807b27a016f677b317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kcachegrind-4.13.80.tar.xz">kcachegrind-4.13.80</a></td>
   <td align="right">229kB</td>
   <td><tt>453937136dff3f9b3d131e248ea7f1fd6511dfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kcalc-4.13.80.tar.xz">kcalc-4.13.80</a></td>
   <td align="right">79kB</td>
   <td><tt>68d88e85b99665172b1cea0b0a8ad0cd0740cbde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kcharselect-4.13.80.tar.xz">kcharselect-4.13.80</a></td>
   <td align="right">82kB</td>
   <td><tt>1589a660da4c778ede3089be2fb674950dbede5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kcolorchooser-4.13.80.tar.xz">kcolorchooser-4.13.80</a></td>
   <td align="right">4kB</td>
   <td><tt>f8361f54b916666f5d7d34b2795cf93558ac2cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kcron-4.13.80.tar.xz">kcron-4.13.80</a></td>
   <td align="right">170kB</td>
   <td><tt>5d2d44fcc801e0a3d085ffdc780b91aa3545a041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdeartwork-4.13.80.tar.xz">kdeartwork-4.13.80</a></td>
   <td align="right">134MB</td>
   <td><tt>bba0d7569358b75b8c0bfa5019b359add9a5a986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-baseapps-4.13.80.tar.xz">kde-baseapps-4.13.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5e41232362a99e12dbd53d1e8ab42628922f8c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-base-artwork-4.13.80.tar.xz">kde-base-artwork-4.13.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>aed0e4fa1ba5fcf7efc507668fe84a6637edee46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-dev-scripts-4.13.80.tar.xz">kde-dev-scripts-4.13.80</a></td>
   <td align="right">274kB</td>
   <td><tt>aec8ff218f0c04fd6e3487cce595cc20e15d77bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-dev-utils-4.13.80.tar.xz">kde-dev-utils-4.13.80</a></td>
   <td align="right">50kB</td>
   <td><tt>e70752638e486944850d5e6a00e5ddc38f3678bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdegraphics-mobipocket-4.13.80.tar.xz">kdegraphics-mobipocket-4.13.80</a></td>
   <td align="right">14kB</td>
   <td><tt>7085e54601d229abb3c417ed08bddbdb2f91b725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdegraphics-strigi-analyzer-4.13.80.tar.xz">kdegraphics-strigi-analyzer-4.13.80</a></td>
   <td align="right">39kB</td>
   <td><tt>0a213bc9901f1a468af4e0065537deb42955ec13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdegraphics-thumbnailers-4.13.80.tar.xz">kdegraphics-thumbnailers-4.13.80</a></td>
   <td align="right">40kB</td>
   <td><tt>cd4b068115b973f5fb7b04ae52dcff57d874610f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdelibs-4.13.80.tar.xz">kdelibs-4.13.80</a></td>
   <td align="right">11MB</td>
   <td><tt>7804801bda28ecff28d32a76da276de6a358122f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdenetwork-filesharing-4.13.80.tar.xz">kdenetwork-filesharing-4.13.80</a></td>
   <td align="right">26kB</td>
   <td><tt>dac29933c788ed216a22f0d3325eaa1ac23aee88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdenetwork-strigi-analyzers-4.13.80.tar.xz">kdenetwork-strigi-analyzers-4.13.80</a></td>
   <td align="right">14kB</td>
   <td><tt>03fe02067800d8ce7b403d8f2f5cec3041f18132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdepim-4.13.80.tar.xz">kdepim-4.13.80</a></td>
   <td align="right">13MB</td>
   <td><tt>6c1a71066ac558f169f7d04e62949f737b99fd2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdepimlibs-4.13.80.tar.xz">kdepimlibs-4.13.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c12243aea9b101de4b2424cf0e97aabf65913b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdepim-runtime-4.13.80.tar.xz">kdepim-runtime-4.13.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>18d9021205b5c550908ea02ef14fe1bad5201d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdeplasma-addons-4.13.80.tar.xz">kdeplasma-addons-4.13.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4fa2eed6779412e101f64e87cf557f13fc4593f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-runtime-4.13.80.tar.xz">kde-runtime-4.13.80</a></td>
   <td align="right">7.4MB</td>
   <td><tt>15dd9c9ba015129805402b2e21c57efaf02c3b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdesdk-kioslaves-4.13.80.tar.xz">kdesdk-kioslaves-4.13.80</a></td>
   <td align="right">352kB</td>
   <td><tt>da766bbefce9a0930cf2245c37214773bbaf5557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdesdk-strigi-analyzers-4.13.80.tar.xz">kdesdk-strigi-analyzers-4.13.80</a></td>
   <td align="right">17kB</td>
   <td><tt>69787b6383095f322dd4e13e6ec6b088124f96ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdesdk-thumbnailers-4.13.80.tar.xz">kdesdk-thumbnailers-4.13.80</a></td>
   <td align="right">11kB</td>
   <td><tt>134f85c0d2be098f637cdb5e076213290bef3ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-wallpapers-4.13.80.tar.xz">kde-wallpapers-4.13.80</a></td>
   <td align="right">86MB</td>
   <td><tt>8169df3c7c0b0eff59db667db6eb8b58f3b42f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdewebdev-4.13.80.tar.xz">kdewebdev-4.13.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>54a58299f0d52127bcd4e297be77570cfdf6590f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdf-4.13.80.tar.xz">kdf-4.13.80</a></td>
   <td align="right">145kB</td>
   <td><tt>40ab7c1a76154496bf4d21519f4bb568854c915a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kdiamond-4.13.80.tar.xz">kdiamond-4.13.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8035958a7eaeb301d3e186976387b0b3717026bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kfilemetadata-4.13.80.tar.xz">kfilemetadata-4.13.80</a></td>
   <td align="right">34kB</td>
   <td><tt>5c38e39c3c369cb50d80008eefe329bd9148abd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kfloppy-4.13.80.tar.xz">kfloppy-4.13.80</a></td>
   <td align="right">51kB</td>
   <td><tt>00c525a90d53f2482f0cfdf9cbb223186c356410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kfourinline-4.13.80.tar.xz">kfourinline-4.13.80</a></td>
   <td align="right">275kB</td>
   <td><tt>609890dc26970c2634b5321da207cc18775a08c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kgamma-4.13.80.tar.xz">kgamma-4.13.80</a></td>
   <td align="right">22kB</td>
   <td><tt>fa7f7acc43867d9e84d69f30811f28d5b8381d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kgeography-4.13.80.tar.xz">kgeography-4.13.80</a></td>
   <td align="right">6.3MB</td>
   <td><tt>9a35ac5db2707f5cd88f62e86cda9118a1a8b00b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kget-4.13.80.tar.xz">kget-4.13.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>673c669c6b3f8e232684560b48faa176f338b935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kgoldrunner-4.13.80.tar.xz">kgoldrunner-4.13.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>add3ef5a2fa09308d3462dc722aeec89b51d365b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kgpg-4.13.80.tar.xz">kgpg-4.13.80</a></td>
   <td align="right">787kB</td>
   <td><tt>b79286d51c6e4f68d7455d2ae3a5e310e3b3237a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/khangman-4.13.80.tar.xz">khangman-4.13.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9659576eef96271e6ec11b0bf0d62d6907cfbbe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kig-4.13.80.tar.xz">kig-4.13.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>4661b111d20b19cdfa1dd4f389a818af061cf914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kigo-4.13.80.tar.xz">kigo-4.13.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e72c0a3d9255c0b804bb0aae5287af39ee7c485e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/killbots-4.13.80.tar.xz">killbots-4.13.80</a></td>
   <td align="right">938kB</td>
   <td><tt>c997a8f8ecd3159a71d0b025bebd2be629eab60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kimono-4.13.80.tar.xz">kimono-4.13.80</a></td>
   <td align="right">910kB</td>
   <td><tt>b5bcffaab235e5aea856a75627f4b31c4710833a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kiriki-4.13.80.tar.xz">kiriki-4.13.80</a></td>
   <td align="right">115kB</td>
   <td><tt>308091afc08f23adfb5851a0db422bbc076abc2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kiten-4.13.80.tar.xz">kiten-4.13.80</a></td>
   <td align="right">11MB</td>
   <td><tt>5b7ee7e1c56b8724e48c8af576ba5f6b79457198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kjumpingcube-4.13.80.tar.xz">kjumpingcube-4.13.80</a></td>
   <td align="right">160kB</td>
   <td><tt>5de6edb20b77fcadd1b68bfb6fbcdfc36fada6a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/klettres-4.13.80.tar.xz">klettres-4.13.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9e198ca77a58a2c0edd48ca4329f30d1b55d33b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/klickety-4.13.80.tar.xz">klickety-4.13.80</a></td>
   <td align="right">765kB</td>
   <td><tt>b048559d6bf57b0fa95d1544e1f1b91bbb76e0b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/klines-4.13.80.tar.xz">klines-4.13.80</a></td>
   <td align="right">926kB</td>
   <td><tt>5de359c179b7d42df9f0f814ac377c9913574fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmag-4.13.80.tar.xz">kmag-4.13.80</a></td>
   <td align="right">84kB</td>
   <td><tt>8ce2c98d17ec52a882ab66fc7657ad343deab9dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmahjongg-4.13.80.tar.xz">kmahjongg-4.13.80</a></td>
   <td align="right">982kB</td>
   <td><tt>f951e27bdb8a43681e88abf36608503a99e49cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmines-4.13.80.tar.xz">kmines-4.13.80</a></td>
   <td align="right">613kB</td>
   <td><tt>dbc1e051444191e39d2afdb58b3e1c7c528c7578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmix-4.13.80.tar.xz">kmix-4.13.80</a></td>
   <td align="right">370kB</td>
   <td><tt>269d6da2b71b604e093323e3ceace9f272c3aff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmousetool-4.13.80.tar.xz">kmousetool-4.13.80</a></td>
   <td align="right">35kB</td>
   <td><tt>a774f2209e877a77af669e4a8894fddf60d8c4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmouth-4.13.80.tar.xz">kmouth-4.13.80</a></td>
   <td align="right">300kB</td>
   <td><tt>961f3c2333b871d40380ad3700e2ce1f73df8a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kmplot-4.13.80.tar.xz">kmplot-4.13.80</a></td>
   <td align="right">642kB</td>
   <td><tt>b079f0f0482a15a7f49feea336bab219ee88c9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/knavalbattle-4.13.80.tar.xz">knavalbattle-4.13.80</a></td>
   <td align="right">834kB</td>
   <td><tt>25d9da1aaa1431b42018256d8887e8fd18a83e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/knetwalk-4.13.80.tar.xz">knetwalk-4.13.80</a></td>
   <td align="right">763kB</td>
   <td><tt>f4f879622514c4c61dccfd651e8fb02721e57d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kolf-4.13.80.tar.xz">kolf-4.13.80</a></td>
   <td align="right">748kB</td>
   <td><tt>01a00187b937d24d3903070eaca159e4a68d19e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kollision-4.13.80.tar.xz">kollision-4.13.80</a></td>
   <td align="right">202kB</td>
   <td><tt>991b9f506f0429e115c3a9ec01430708f7d3c915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kolourpaint-4.13.80.tar.xz">kolourpaint-4.13.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9b7fc2eea2e7b75502bb52ce65c3b96306cfba8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kompare-4.13.80.tar.xz">kompare-4.13.80</a></td>
   <td align="right">336kB</td>
   <td><tt>b26aaa62c498ec0894a98dc4bb35d464e78ca48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/konquest-4.13.80.tar.xz">konquest-4.13.80</a></td>
   <td align="right">395kB</td>
   <td><tt>f0ae1fb6c1a4abf827f5d9584153db7cf3f27136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/konsole-4.13.80.tar.xz">konsole-4.13.80</a></td>
   <td align="right">444kB</td>
   <td><tt>2ba4e8bb9e06600409b879bf38ca60f8b4a468ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kopete-4.13.80.tar.xz">kopete-4.13.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>9719201e6f36f5935c756e5d4fafb28c6c26f9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/korundum-4.13.80.tar.xz">korundum-4.13.80</a></td>
   <td align="right">156kB</td>
   <td><tt>af41b09515d873dd595f4db2a349b07f213b2bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kpat-4.13.80.tar.xz">kpat-4.13.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1623e9d17b4fa76bb2c2788e767e5329dc4613d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kppp-4.13.80.tar.xz">kppp-4.13.80</a></td>
   <td align="right">680kB</td>
   <td><tt>7b07ec0c8ed0ceae5523e15a64c6e48b05d6c462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kqtquickcharts-4.13.80.tar.xz">kqtquickcharts-4.13.80</a></td>
   <td align="right">19kB</td>
   <td><tt>b2909a81dfadc2ae28a253df602edde9b31258ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/krdc-4.13.80.tar.xz">krdc-4.13.80</a></td>
   <td align="right">388kB</td>
   <td><tt>564d89f70580ddacdf1751b328a333c55d1e89be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kremotecontrol-4.13.80.tar.xz">kremotecontrol-4.13.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f0b18a83d74b91e9c393d44155e5bc726112c89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kreversi-4.13.80.tar.xz">kreversi-4.13.80</a></td>
   <td align="right">463kB</td>
   <td><tt>118ac5d8d14484e8ca2e1e3f02062e36cf9d78e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/krfb-4.13.80.tar.xz">krfb-4.13.80</a></td>
   <td align="right">456kB</td>
   <td><tt>9881714f86ec6c6aafbd499e3b1f3c64dd7d1a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kross-interpreters-4.13.80.tar.xz">kross-interpreters-4.13.80</a></td>
   <td align="right">127kB</td>
   <td><tt>b368236c90067ffe585fce66561a0906a6c888fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kruler-4.13.80.tar.xz">kruler-4.13.80</a></td>
   <td align="right">125kB</td>
   <td><tt>551299f57f725349e9cb7a192b48bfbdce414d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksaneplugin-4.13.80.tar.xz">ksaneplugin-4.13.80</a></td>
   <td align="right">12kB</td>
   <td><tt>d5ae3354f47fe3013e3c42ff81f7fd809348b1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kscd-4.13.80.tar.xz">kscd-4.13.80</a></td>
   <td align="right">90kB</td>
   <td><tt>3bc923922e3847a75b6c89b2bd7c69c1e05d813a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kshisen-4.13.80.tar.xz">kshisen-4.13.80</a></td>
   <td align="right">132kB</td>
   <td><tt>eef40f5d42343367e618253f549dc7a709255762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksirk-4.13.80.tar.xz">ksirk-4.13.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>7ac3052ce4708f22e1935ccfd6f938eae38d8b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksnakeduel-4.13.80.tar.xz">ksnakeduel-4.13.80</a></td>
   <td align="right">312kB</td>
   <td><tt>e1c3351f7b9fe36aa5d9d9134e15d91d4919c53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksnapshot-4.13.80.tar.xz">ksnapshot-4.13.80</a></td>
   <td align="right">251kB</td>
   <td><tt>765ed98c4b2798fb0b8607daccb3a8dd487937d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kspaceduel-4.13.80.tar.xz">kspaceduel-4.13.80</a></td>
   <td align="right">246kB</td>
   <td><tt>dacf9352e09331e611932a29393cd883689c888a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksquares-4.13.80.tar.xz">ksquares-4.13.80</a></td>
   <td align="right">77kB</td>
   <td><tt>dbd8322acf144f73be05ee19aaab760fac8aec91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kstars-4.13.80.tar.xz">kstars-4.13.80</a></td>
   <td align="right">11MB</td>
   <td><tt>52a3f1432f3dccaf5286fabbe186cdd9e538e2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksudoku-4.13.80.tar.xz">ksudoku-4.13.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b80cae3569378600a175856ec54516e77ee80a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ksystemlog-4.13.80.tar.xz">ksystemlog-4.13.80</a></td>
   <td align="right">373kB</td>
   <td><tt>355434cabc38e00eb56ece4515e34aab91ea21f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kteatime-4.13.80.tar.xz">kteatime-4.13.80</a></td>
   <td align="right">98kB</td>
   <td><tt>a4904cb9529c39f9c532a1026c63fcd8a4d43c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ktimer-4.13.80.tar.xz">ktimer-4.13.80</a></td>
   <td align="right">143kB</td>
   <td><tt>e16c74bbb22c1745fb306caf80e65a3be5ab425e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ktouch-4.13.80.tar.xz">ktouch-4.13.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1d19b627c1e85eede23bc0cb5eb3782917d913ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ktuberling-4.13.80.tar.xz">ktuberling-4.13.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ad24f7bba45b20bce3da423fb8ebfeb06a6568ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kturtle-4.13.80.tar.xz">kturtle-4.13.80</a></td>
   <td align="right">185kB</td>
   <td><tt>89e65135e5d5e81c262ec2c5bfcce903109ebd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/ktux-4.13.80.tar.xz">ktux-4.13.80</a></td>
   <td align="right">106kB</td>
   <td><tt>4a4b613ff0db21f03b3c7ebdf8c8117f5c566f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kubrick-4.13.80.tar.xz">kubrick-4.13.80</a></td>
   <td align="right">104kB</td>
   <td><tt>d3d0c93600833e54d3b207824c79ed48da2bed90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kuser-4.13.80.tar.xz">kuser-4.13.80</a></td>
   <td align="right">131kB</td>
   <td><tt>dc78881f4859b6ceed9d2c18478dc10fd4d039fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kwalletmanager-4.13.80.tar.xz">kwalletmanager-4.13.80</a></td>
   <td align="right">445kB</td>
   <td><tt>384e53254cf25daec9ba1db4f6077a298b979f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kwordquiz-4.13.80.tar.xz">kwordquiz-4.13.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ae9889ccc95828ef6d4c571a7b471ca586c41ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkcddb-4.13.80.tar.xz">libkcddb-4.13.80</a></td>
   <td align="right">154kB</td>
   <td><tt>9f79b2852b3f210be145d44148c6cff580dcab33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkcompactdisc-4.13.80.tar.xz">libkcompactdisc-4.13.80</a></td>
   <td align="right">73kB</td>
   <td><tt>197d0fe062a5995d89b62f09749de9d241122a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkdcraw-4.13.80.tar.xz">libkdcraw-4.13.80</a></td>
   <td align="right">97kB</td>
   <td><tt>50f9f9543859107190fae821fc3e31d1971da79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkdeedu-4.13.80.tar.xz">libkdeedu-4.13.80</a></td>
   <td align="right">206kB</td>
   <td><tt>9db6616cef9f4b2942fbd4a40f0abba6378df9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkdegames-4.13.80.tar.xz">libkdegames-4.13.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f69e16914163d937b0226fe98710049d07d74169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkexiv2-4.13.80.tar.xz">libkexiv2-4.13.80</a></td>
   <td align="right">132kB</td>
   <td><tt>11097bfcf4b26b71c45fff956cc4afdf351c1823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkipi-4.13.80.tar.xz">libkipi-4.13.80</a></td>
   <td align="right">92kB</td>
   <td><tt>6f24bb0bf8daa5fff5f917c007a7f69a3f1c77e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkmahjongg-4.13.80.tar.xz">libkmahjongg-4.13.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7fd213d3467c3c5cd5eba736e2082a9f8fe4da67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libkomparediff2-4.13.80.tar.xz">libkomparediff2-4.13.80</a></td>
   <td align="right">54kB</td>
   <td><tt>0c30f7f2f4bd965dcd426edb800fae8d716e57ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/libksane-4.13.80.tar.xz">libksane-4.13.80</a></td>
   <td align="right">78kB</td>
   <td><tt>8a611b8dcdc894522ed228ea2061eef578868960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/lokalize-4.13.80.tar.xz">lokalize-4.13.80</a></td>
   <td align="right">826kB</td>
   <td><tt>b8537e85fef4d0b41e9632f30dd39c8f55190331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/lskat-4.13.80.tar.xz">lskat-4.13.80</a></td>
   <td align="right">907kB</td>
   <td><tt>1599756446220661c48eeccd0d31986630155d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/marble-4.13.80.tar.xz">marble-4.13.80</a></td>
   <td align="right">18MB</td>
   <td><tt>a15e531cb6d4d64a2ef0ca109f75d56b248112f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/mplayerthumbs-4.13.80.tar.xz">mplayerthumbs-4.13.80</a></td>
   <td align="right">26kB</td>
   <td><tt>0d77a43eb35ef610b0266337f5bbb5ee348437a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/nepomuk-core-4.13.80.tar.xz">nepomuk-core-4.13.80</a></td>
   <td align="right">374kB</td>
   <td><tt>82b83a547f0deb41a86d0f2823d343d7daf737f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/nepomuk-widgets-4.13.80.tar.xz">nepomuk-widgets-4.13.80</a></td>
   <td align="right">47kB</td>
   <td><tt>93f34b30ef56f97ac68b37c77bc125a4b2a82f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/okteta-4.13.80.tar.xz">okteta-4.13.80</a></td>
   <td align="right">481kB</td>
   <td><tt>a6d612cd9ee35a2611bdd44e9513949d5afbdefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/okular-4.13.80.tar.xz">okular-4.13.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b85d082696b6704f77e24ed426ab71952076e13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/oxygen-icons-4.13.80.tar.xz">oxygen-icons-4.13.80</a></td>
   <td align="right">219MB</td>
   <td><tt>0a2ae33344e70eb6f05674031a9ff263abfb6917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/pairs-4.13.80.tar.xz">pairs-4.13.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4e860c8f7b269a8bd88b09f6cd626fd7b2536c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/palapeli-4.13.80.tar.xz">palapeli-4.13.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9100027c3e2fb376f18980147c4e8a66b1146c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/parley-4.13.80.tar.xz">parley-4.13.80</a></td>
   <td align="right">7.8MB</td>
   <td><tt>5aefe5557735cc2d6a4c08475c282dc884678b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/perlkde-4.13.80.tar.xz">perlkde-4.13.80</a></td>
   <td align="right">39kB</td>
   <td><tt>264bef27c73b4ba91a90e0badb2bf29761d163ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/perlqt-4.13.80.tar.xz">perlqt-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1303f34014d04aa9e87ef339b72ffe763eb35ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/picmi-4.13.80.tar.xz">picmi-4.13.80</a></td>
   <td align="right">714kB</td>
   <td><tt>b84e07d204479488a8dfed65b4b957cb9a887903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/poxml-4.13.80.tar.xz">poxml-4.13.80</a></td>
   <td align="right">30kB</td>
   <td><tt>5582c9b5db340d8a8523ace229ee2510818fc20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/print-manager-4.13.80.tar.xz">print-manager-4.13.80</a></td>
   <td align="right">90kB</td>
   <td><tt>f743f15993a0d8116192f05b94597d485011c64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/pykde4-4.13.80.tar.xz">pykde4-4.13.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>85fa6bddf63feea4b02252e156fa12b0d83e1385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/qtruby-4.13.80.tar.xz">qtruby-4.13.80</a></td>
   <td align="right">517kB</td>
   <td><tt>37b14b46c953d22fd8fa1b2d2dd6c225c840decc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/qyoto-4.13.80.tar.xz">qyoto-4.13.80</a></td>
   <td align="right">495kB</td>
   <td><tt>e537ec52a755d7dd9a9b9ebd222524aa137c99ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/rocs-4.13.80.tar.xz">rocs-4.13.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d90d9721054adba595c45cbb984164201e81ec6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/smokegen-4.13.80.tar.xz">smokegen-4.13.80</a></td>
   <td align="right">143kB</td>
   <td><tt>452e0f3820787976fcb33d82f0c4afbdf34e620a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/smokekde-4.13.80.tar.xz">smokekde-4.13.80</a></td>
   <td align="right">35kB</td>
   <td><tt>1e6ab4178f36b80d974e110064e0eb00c5055362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/smokeqt-4.13.80.tar.xz">smokeqt-4.13.80</a></td>
   <td align="right">29kB</td>
   <td><tt>572ff0c8ca22240b19a597ee9d344ea7fb4566fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/step-4.13.80.tar.xz">step-4.13.80</a></td>
   <td align="right">361kB</td>
   <td><tt>d6da788362f1eee5edb61ddc4178d895841697c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/superkaramba-4.13.80.tar.xz">superkaramba-4.13.80</a></td>
   <td align="right">372kB</td>
   <td><tt>50a80ef1668eaed59ad72246850c666a3c672453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/svgpart-4.13.80.tar.xz">svgpart-4.13.80</a></td>
   <td align="right">8kB</td>
   <td><tt>cf1b9764af42a6207e0d25945c3491dc5f5b94ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/sweeper-4.13.80.tar.xz">sweeper-4.13.80</a></td>
   <td align="right">80kB</td>
   <td><tt>1a1fbf480e96858d9a12b07d7ed94e221fdff8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/umbrello-4.13.80.tar.xz">umbrello-4.13.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>061dc86a7d66529840f7011312896a346f374fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/zeroconf-ioslave-4.13.80.tar.xz">zeroconf-ioslave-4.13.80</a></td>
   <td align="right">25kB</td>
   <td><tt>01191f30f2d27a58d343fb62ed9e71502994ccec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ar-4.13.80.tar.xz">kde-l10n-ar-4.13.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e4fbdbaaad40db2cf3852d5b21c6aeed54934949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-bg-4.13.80.tar.xz">kde-l10n-bg-4.13.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7176dbb9c65e4e8d857046631ff0f7409ad93fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-bs-4.13.80.tar.xz">kde-l10n-bs-4.13.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>53df276f3c473338745d8d2c03fd6c11e888d15c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ca-4.13.80.tar.xz">kde-l10n-ca-4.13.80</a></td>
   <td align="right">10MB</td>
   <td><tt>7481a4235b02e9514a5046620fb39aff29ae3ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ca@valencia-4.13.80.tar.xz">kde-l10n-ca@valencia-4.13.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3e0ad518dd2a9937ab97183a13d0412df13a565f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-cs-4.13.80.tar.xz">kde-l10n-cs-4.13.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>53bc0a84afa722befb16ab4ec55eb97a0c697af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-da-4.13.80.tar.xz">kde-l10n-da-4.13.80</a></td>
   <td align="right">12MB</td>
   <td><tt>b414a75ca67f3ec5f0a98d399e71d49cb49d71bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-de-4.13.80.tar.xz">kde-l10n-de-4.13.80</a></td>
   <td align="right">32MB</td>
   <td><tt>87bf46f0a49b6751080f7a3e8ba78abdf2a868ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-el-4.13.80.tar.xz">kde-l10n-el-4.13.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6559b633bba347768ae26d521a0fc00b6f6fc0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-en_GB-4.13.80.tar.xz">kde-l10n-en_GB-4.13.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5ce2c8acb716358d69801fef2dea9c6ae49bee86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-es-4.13.80.tar.xz">kde-l10n-es-4.13.80</a></td>
   <td align="right">20MB</td>
   <td><tt>9dc3c0dafa3cf3ef37f04b04970308f594a77629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-et-4.13.80.tar.xz">kde-l10n-et-4.13.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0212f5575025557453fa5b545a7f92584757a46b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-eu-4.13.80.tar.xz">kde-l10n-eu-4.13.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9dc5e1cf521f06d1138821536001d4b9b67e4024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-fa-4.13.80.tar.xz">kde-l10n-fa-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9eb7045c338792e648d3e54bfc386d75b39c74a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-fi-4.13.80.tar.xz">kde-l10n-fi-4.13.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>07bc7dfae8c5bb716dd7d709e91388982fa902a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-fr-4.13.80.tar.xz">kde-l10n-fr-4.13.80</a></td>
   <td align="right">39MB</td>
   <td><tt>36d17ae1bf4d8c08188a9df2a5d38f15bc2fa3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ga-4.13.80.tar.xz">kde-l10n-ga-4.13.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6b8c9c3d4f34a54811ad7fce7bb758332c3e7e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-gl-4.13.80.tar.xz">kde-l10n-gl-4.13.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3a5d943074bbce1fd7a61c2473728ee3f6ba6734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-he-4.13.80.tar.xz">kde-l10n-he-4.13.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>162e68688fc203b2f3286f7a51c26d2148eb2e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-hi-4.13.80.tar.xz">kde-l10n-hi-4.13.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9755e3ff0500d1e6fb8b740601f32bff11a5b232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-hr-4.13.80.tar.xz">kde-l10n-hr-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d4668c07b9ad97893c91004c4997ee4736368668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-hu-4.13.80.tar.xz">kde-l10n-hu-4.13.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>642400ba85851bbedb7e7c1f5b67c45aea75f0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ia-4.13.80.tar.xz">kde-l10n-ia-4.13.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>19d5aff9d4d4da02b616ca151e1c060b86efaaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-id-4.13.80.tar.xz">kde-l10n-id-4.13.80</a></td>
   <td align="right">329kB</td>
   <td><tt>236e62a77edc4fb25c971596173df21c45c8ef46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-is-4.13.80.tar.xz">kde-l10n-is-4.13.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6c356bedf819e0a54dd250f052c8a46a8c8173d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-it-4.13.80.tar.xz">kde-l10n-it-4.13.80</a></td>
   <td align="right">8.1MB</td>
   <td><tt>1252312882283acca33f78c8fe81ef7f94ebf118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ja-4.13.80.tar.xz">kde-l10n-ja-4.13.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>544bcdf55698bb6932d574ade34c774664ba1fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-kk-4.13.80.tar.xz">kde-l10n-kk-4.13.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a48bd538f8f3bf53ab44b5d130c4ae93eb9a0012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-km-4.13.80.tar.xz">kde-l10n-km-4.13.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>06dbcb5145bb455a113b93108e32e5237c136517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ko-4.13.80.tar.xz">kde-l10n-ko-4.13.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ecf887511ce9d0aff4a8c4c1f4fc4cbe144f2092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-lt-4.13.80.tar.xz">kde-l10n-lt-4.13.80</a></td>
   <td align="right">11MB</td>
   <td><tt>501ca48e98980d06f30ce2d8903d9e1869feb117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-lv-4.13.80.tar.xz">kde-l10n-lv-4.13.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4b4b34fa003cc12f4054143ee052785b08042638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-mr-4.13.80.tar.xz">kde-l10n-mr-4.13.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3b43138e00effa30d1cf42d6395f4c6d5c5693d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-nb-4.13.80.tar.xz">kde-l10n-nb-4.13.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1db46df8fb7c536db394d670e3fe66e409e0e9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-nds-4.13.80.tar.xz">kde-l10n-nds-4.13.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>752b908aa01b37b0909775897f1ebbefcebae934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-nl-4.13.80.tar.xz">kde-l10n-nl-4.13.80</a></td>
   <td align="right">12MB</td>
   <td><tt>d6231e5891039d4d28cf1e05fde262824f45bd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-nn-4.13.80.tar.xz">kde-l10n-nn-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c662b38ade98f7f3a88adabd0b5d1218f02e0c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-pa-4.13.80.tar.xz">kde-l10n-pa-4.13.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>53474a815f06c4c30e8c480546143c32336e6112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-pl-4.13.80.tar.xz">kde-l10n-pl-4.13.80</a></td>
   <td align="right">16MB</td>
   <td><tt>b603e51d174acc64f1583c030e5efeaa8b27d6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-pt-4.13.80.tar.xz">kde-l10n-pt-4.13.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>203c3436d0eaf7612a87dd1f0a4b05cf5f103504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-pt_BR-4.13.80.tar.xz">kde-l10n-pt_BR-4.13.80</a></td>
   <td align="right">23MB</td>
   <td><tt>11fcf508bf3e30aec2eb280af2caf25bbfb89483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ro-4.13.80.tar.xz">kde-l10n-ro-4.13.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d725e9df30f7693bcfdd1f3598931d1d1be7d5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ru-4.13.80.tar.xz">kde-l10n-ru-4.13.80</a></td>
   <td align="right">21MB</td>
   <td><tt>a18b90f86d2953d18573e0f9305ec88f53982970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-sk-4.13.80.tar.xz">kde-l10n-sk-4.13.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>d45ce25c11c786dce51afc5ce0d6096a1c75c626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-sl-4.13.80.tar.xz">kde-l10n-sl-4.13.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7896f12028e828b52862ad1b133602d5fe5b51b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-sr-4.13.80.tar.xz">kde-l10n-sr-4.13.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>233deb4de25af7a71da58eb4818e713e8aef753a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-sv-4.13.80.tar.xz">kde-l10n-sv-4.13.80</a></td>
   <td align="right">13MB</td>
   <td><tt>4cada43bbfb663babad3b8dbea71cb670368a2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-tr-4.13.80.tar.xz">kde-l10n-tr-4.13.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>57b13598c4543cac7ffaa350dbbf7dade0a7b396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-ug-4.13.80.tar.xz">kde-l10n-ug-4.13.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6d4629b1249657ce7a706ea48578ee97758f39c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-uk-4.13.80.tar.xz">kde-l10n-uk-4.13.80</a></td>
   <td align="right">23MB</td>
   <td><tt>fd4b6b81f1f30518cfd2627de1a0c18bf5cc76e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-vi-4.13.80.tar.xz">kde-l10n-vi-4.13.80</a></td>
   <td align="right">791kB</td>
   <td><tt>11acb07d6886de516331fb74faeb011fc2dbb551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-wa-4.13.80.tar.xz">kde-l10n-wa-4.13.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>948f79b506ed4c6db96d15db8dbf448e4414fba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-zh_CN-4.13.80.tar.xz">kde-l10n-zh_CN-4.13.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>79f249b8b66918a8513dad510004d7aa0c1cbcff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.13.80/src/kde-l10n/kde-l10n-zh_TW-4.13.80.tar.xz">kde-l10n-zh_TW-4.13.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>497140f4367af200dbecde1df6fd6943ff5e9783</tt></td>
</tr>

</table>
